celery.db
.DS_Store
.env
_webassets
celeryev.pid
_static
be/static
reports/
Procfile.dev
*.pyc
celerybeat.pid
npm-debug.log
_grunt
node_modules
*.swp
be/config/local
perfdump.db
htmlcov
.coverage
*.orig
