{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}
<div class="container">
  <div class="row">
    {% for collective in collectives %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 collective-card">
        <a href="{{collective.link}}">
        <div class="collective-card-content" style="background-image:url({{collective.image}});" />
        </div>
        <h3>{{collective.name.upper}}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="wrapper light floating">
    <div class="body-text">
      <h2>
      Welcome to the Debt Collective actions page where you will find a list of all past and present debt resistance campaigns and actions. Click to learn more about each collective and how to join.
      </h2>
      <h3>Alone, our debts are a burden. Together, they make us powerful.</h3>
    </div>
  </div>
  <div class="wrapper dark">
    <div class="row">
      {% include "collectives/action_cards.html" with actions=actions %}
    </div>
  </div>
</div>
{% endblock %}