{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/header.html" %}

<div class="container">
  <div class="wrapper arrow-up"></div>
  <div class="wrapper arrow-down-steep" id="faq">
    <div class="row light">
      <div class="body-text">
        <div class="col-sm-12">
      <h1>Changes to the Defense to Repayment Applciation</h1>
          <p>
The Debt Collective’s Defense to Repayment form is no longer operative. Beginning February 1, 2017, student debtors who wish to dispute their federal student loans must use the Department of Education’s new form which is

<a target="_blank" href="https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx">
located here.
</a>
</p>
          <h3 class="justified">
          If you filed Defense to Repayment before February 1, you do NOT need to file again.
        </h3>
        <p>
          The Department has said that it will review all the claims submitted so far via the Debt Collective’s application. If you are not sure if you filed already or you have a question about your application, you can contact the Borrower Defense Hotline at 855-279-6207. You can also email Federal Student Aid: FSAOperations@ed.gov.
          </p>
          <p>
          Before it shut down, the Debt Collective’s application was used to submit 10,595 defense to repayment applications (some of which were repeats, tests, or mistakes).
          </p>
          <h3>Why the change?</h3>
          <p>
            The Debt Collective made the first Defense to Repayment application two years ago as part of a collectively organized campaign to demand debt relief for former for-profit students. Before we did so, the Department of Education was ignoring it obligations. It had no way to apply for Defense to Repayment--it did not even have a process to receive applications.
          </p>
          <p>

Students who attended Corinthian College were the first to use the online form as part of an historic debt strike. Later, students from ITT Tech, Art Institute and other schools joined the campaign for debt relief and began using the form to dispute their loans. Over 5,000 Corinthian student debtors used the form, as well as over 2,200 ITT Tech student debtors and over 1,700 Art Institute student debtors.
          </p>
          <p>

As the strike grew and as thousands of people began applying for debt relief via Defense to Repayment, the Department of Education started to feel the pressure. They knew they could not ignore the law. Instead of just cancelling debt held by students who had attended scam schools, however, they decided to start a long regulatory process. They hired a “Special Master” to review Corinthian borrowers’ disputes and initiated “negotiated rulemaking” to decide how to handle disputes from students from other schools.
          </p>
          <p>

<a target="_blank" href="https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx">The new Defense to Repayment form</a> is one result of that long process.
          </p>
          <p>

So far, as a result of thousands of borrowers’ efforts, hundreds of millions of dollars in debt relief has been won and the Department of Education has, at least in theory, recognized students’ rights to a discharge when their school defrauds them. There is much more work still to do, but we have already seen first hand that when we organize together we can win.
</p>

        </div>
      </div>
    </div>
  </div>
</div>


          {% endblock %}
