{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='CREATE ACCOUNT' %}

<div class="flex thankyou-background" ng-controller='migrateCtrl'>
  <div class="container inside-container">
    <div class="wrapper dark floating body-text">
      <div class="body-text">
        <h2 class="centered">Access your Defense to Repayment application</h2>
        <p>Because this information is sensitive, it's best if you make an account. Afterwards, you'll be able to review, edit, add missing information, and resubmit your application to the Department of Education.</p>
      </div>
      <signupform no-redirect=true collect-debt=false open=true after-submit="reload()"></signupform>
    </div>
  </div>
</div>
{% endblock %}
