@import "../includes/variables";

/** carousel **/
.carousel {

  .carousel-item {
    width: 100%;
    display: none;
    &.active {
      display: block !important;
    }
  }

  .carousel-nav-item {
    border: 1px solid $dark-grey;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px;

    &.active {
      border-color: $dark-red;
      background-color: $dark-red;
    }

    &:hover {
      cursor: pointer;
      background-color: $pink-red;
    }
  }

  .carousel-nav {
    margin: 30px auto 0px auto;
    width: 90px;
  }

  .turner {
    @include transition();
    padding: 5px;
    cursor: pointer;
    width: 65px;
    margin-right: 4px;
    float: right;
  }

}
