<div class="forms">
  <div class="dc-input">
    <form ng-show="!formSubmitted" class="form" id="signupForm"
    target="receiver"
    action="//strikedebt.createsend.com/t/j/s/nskul/"
    method="post" ng-submit="onSubmitClick($event)">

    <input type="text" class="hidden" name="cm-name" ng-model="username" />

    <div ng-repeat="debt in debts" class="flex">
      <input type="text"
        ng-model="debt.amount"
        ng-focus="formFocus()"
        placeholder="DEBT AMOUNT">

      <select class="debt-type-select"
        ng-model="debt.debtType"
        ng-options="item as item.name for item in debt_choices track by item.id"
        required>
        <option value="">SELECT DEBT TYPE</option>
      </select>
    </div>

    <input type="email" id="email" name="cm-nskul-nskul"  ng-model="email"
      placeholder="ENTER YOUR EMAIL..."
      required autocomplete="off" />

    <input type="text"
      ng-model="location"
      placeholder="WHAT CITY DO YOU LIVE IN?"
      typeahead-editable="false"
      typeahead="city as city.name for city in cities | filter:{name:$viewValue}| limitTo:8 ">

      <button type="submit" name="submit" class="btn btn-primary">sign up for updates</button>
    </form>
  </div>
</div>