.whatcanido {
  .step-heading {
    padding-top: 2em;
  }
}

.wrapper {
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    height: 1em;
    width: 1.25em;
  }
}