@import "../includes/variables";


.action-card {
  padding: 0px 10px 10px 10px;

  .action-card-content {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px; /* future proofing */
    margin: 5px;
    background-color: $light-background-color;
    color: $light-text-color;
    a {
      color: $light-text-color !important;
      &:hover {
        text-decoration: none;
      }
    }
    h2, h3 {
      color: $light-text-color !important;
      margin: 5px 0px !important;
    }
  }

  .action-card-text {
    padding: 20px;
  }

  img {
    -moz-border-radius: 9px 9px 0px 0px;
    -webkit-border-radius: 9px 9px 0px 0px;
    border-radius: 9px 9px 0px 0px; /* future proofing */
    width: 100%;
    max-height: 200px;
  }
}