@import "../includes/variables";

#corinthian {
  .intro {
    background-color: $dark-blue;
    padding: 2em;
    color: $intro-text !important;

    p {
      margin: 44px 22px;
    }

    a {
      text-decoration: underline;
      color: $intro-text !important;
    }
  }
}

.profile-intro-text {
  text-align: left;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 20px 12px 0px 12px;
}

.student-form {
  .close-button {
    display: none !important;
  }
}

.splash.corinthian {
  color: $dark-text-color;
}

.corinthian-title {
  padding-top: 44px;
  text-align: center;
}

.testimonial-top {
  @extend %mono;
  font-size: 20px;
  padding: 25px 0px;
  &.light {
    color: $dark-text-color;
  }
}

hr {
  border-top: 1px solid $link-light-hover;
  margin: 2px;
}

.profiles {
  position: relative;
  background-color: $light-background-color;
  padding: 0px 35px;
}


.progress-items {
  @include flexbox;
  @include justify-content(space-around);
  padding-bottom: 18px;
}

.inter-text {
  padding: 15px 0px;
  h2 {
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px
  }
}
.big-bottom {
  padding-top: 30px;
  h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

.anchor {
  padding-top: 100px;
}

/** HUD **/

.hud {
  background-color: $light-background-color;
  @include flexbox;
  @include flex-direction(column);

  .top {
    height: 50%;
  }

  h1 {
    line-height: 64px;
  }
  h1.large {
    font-size: 70px;
  }

  div {
    text-align: center;
  }

  .half {
    background-color: $off-grey;
    position: relative;
    height: 100%;
    width: 49.6%;

    &:first-child {
      margin-right: 5px;
    }

    h1 {
      top: 50%;
      transform: translateY(-80%);
      position: relative;
    }
  }

  .full {
    padding: 20px;
    background-color: $off-grey;
    margin-top: 5px;
    width: 100%;
  }
}
.hud-display-background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index-hud-display-background;
  background-color: black;
  opacity: .9;
  display: none;
}

.hud-display {
  display: none;
  position: fixed !important;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: $z-index-hud-display;
  background-color: $light-background-color;
  left: 50%;
  transform: translateX(-50%);

  h3 {
    margin-top: 10px;
  }
  p {
    padding: 20px;
  }
  .img {
    text-align: center;
  }

  .info {
    overflow-y: auto;
    height: 100%;
    position: absolute;
    color: $light-text-color;
  }
}


.item {
  @include flexbox;
  @include flex-direction(column);
  @include transition();
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: $link-color;
  }

  .img {
    img {
      width: 100%;
    }
    margin: auto;
  }

  .info {
    margin-top: -25%;
    color: white;
    font-weight: bold;
    padding: 10px;

    h3 {
      margin-top: 0px;
    }
  }
}

/** ccform **/
.ss-q-title {
  margin-top: 30px;
}

.ss-choice-item {
  list-style: none !important;
}

.ss-form-question {
  text-align: left;
}

.ss-q-title, .ss-choice-label {
  font-size: 13px;
  font-weight: bold;
  &.big {
    font-size: 28px;
    line-height: 34px;
  }
}
input[type="radio"] {
  vertical-align: middle;
  height: inherit;
}

label {
  margin-bottom: 0px;
}


.ss-secondary-text {
  text-transform: none;
  font-size: 13px;
  ul li {
    padding: 10px 0px;
  }
}