@import "../includes/variables";

#corinthian {
  .intro {
    background-color: $dark-blue;
    padding: 2em;
    color: $intro-text !important;

    p {
      margin: 44px 22px;
    }

    a {
      text-decoration: underline;
      color: $intro-text !important;
    }
  }
}

.splash.corinthian {
  color: $dark-text-color;
}

.corinthian-title {
  padding-top: 44px;
  text-align: center;
}

hr {
  border-top: 1px solid $link-light-hover;
  margin: 2px;
}

.progress-items {
  display: flex;
  justify-content: space-around;
  padding-bottom: 18px;
}

.flex {
  .manifesto {
    width: 65%;
  }
  .buttons {
    width: 35%;
  }
}