#corinthian {
  margin-top: 400px;
  .intro {
    background-color: $dark-blue;
    padding: 2em;
    color: $intro-text !important;
    p {
      margin: 44px 22px;
    }
  }

  .wrapper {
    input[type="checkbox"], input[type="radio"] {
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: middle;
      height: 1em;
      width: 1.25em;
    }
  }

  .whatcanido {
    .step-heading {
      padding-top: 2em;
    }
  }

  .questions {
    p {
      text-indent: 0;
      margin-bottom: 1.25em;
    }

    h2 {

    }

    li {
      background: #fff;
      padding: 1em;
      margin-bottom: 0.1em;
      text-indent: -1.75em;
      padding-left: 2.75em;
      text-align: left;
      list-style: none;
    }
  }
}

.schedule {
  max-width: 400px;
  h3 {
    margin-top: 15px;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
}

.hearing {
  position: relative;
  height: 650px;
  padding: 25px;

  .livestream {
    margin-bottom: 100px;
    height: 200px;
  }

  .twitter-timeline {
    width: 400px !important;
  }

  .twitter-stuff {
    margin-top: 15px;
  }
}


.splash.corinthian {
  color: $dark-text-color;
}

.corinthian-title {
  padding-top: 44px;

}

.letters {
  margin: 1em auto;
  text-align: center;

  a {
    border-bottom: none !important;
  }

  .half {
    border: .15em solid #ddd;
    width: 40%;
    max-height: 400px;
    padding: 2em;
    margin: 10px;
    display: inline-block;

    h2 {
      margin-top: 0px !important;
    }

    .california {
      padding: 1em;
    }

    &:hover {
      background-color: $link-light-hover;
    }
  }

  p {
    text-align: center;
  }

}

hr {
  border-top: 1px solid $link-light-hover;
  margin: 2px;
}
