@import "../includes/variables";

/** NAVIGATION **/
.navigation {
    border-bottom: 1px solid black;
    color: black;
}

.nav-item {
    padding: 10px;
}


#resources {
  h6 {
    color: $light-text-color;
    text-align: center;
    padding-top: 30px;
  }

  li {
    list-style: initial;
    padding-top: 15px;

    a {
      @extend %rale;
      color: $dark-text-color;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

.nav-footer {
  @extend %mono;
  @include frame-transition();
  border-top: 1px solid $dark-text-color;
  z-index: $z-index-footer;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: $footer-open-height;
  bottom: -$footer-open-height;
  color:  white;
  background-color: $dark-background-color;

  &:not(.visible) .close-button {
    display: none;
  }

  &.visible {
    bottom: 0px !important;
  }

}

.press-links {
  width: 100%;
  text-align: center;
  img {
    width: 200px;
    margin: 10px;
  }
}

.social-links {
  text-align: center;

  img {
    width: 300px;
    padding-left: 10px;
  }
}

.manifesto {
  text-align: left;
  // top: 50%;
  // transform: translateY(-50%);
  // position: relative;
  .btn {
    height: 70px;
  }
}

.rest-of-splash-page {
  display: none;
}

.splash {
  position: relative;
  text-align: center;
  height: 100%;
  background-color: $off-grey;

  .splash-text {
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000;
  }

  .splash-footer {
    @extend %mono;
    @include transition();
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    &:hover {
      opacity: .45;
    }
  }
}

.intro {
  padding: 45px 0px 30px 0px;
  text-align: center;
  h1 { letter-spacing: -2px; }
  border-top: 1px solid black;
  border-bottom: 1px solid black
}

.intro-caption {
  h2 {
    margin-bottom: 0px;
  }
  margin: 30px 0px;
}

#scroll {
  &.mainstate {
    .social-media {
      opacity: 0;
    }
    .nav-footer {
      bottom: -($footer-open-height - $footer-height);
    }
  }
}


.images {
  @include transition(background-color, 1s, ease);
  height: 2900px;
  margin: auto;

  &.close {
    .pane {
      opacity: 0;
    }
  }
  div {
    opacity: 0;
    width: 100%;
    text-align: center;
  }

  .pane {
    top: 50%;
    width: 100%;
    position: fixed;
    opacity: .9;
    margin: auto;
    @include transform(translateY(-25%));
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21),
    &:nth-child(22) {
      border-bottom: #333 1px solid;
    }
  }
}

.splash-square {
  opacity: 1;
  width: 245px;
  height: 245px;
  margin: auto;
  &.red {
    background-color: $pink-red;
  }
}
#scrollthing {
  @include transition();
  position: fixed;
  left: 0;
  height: 0;
  width: 2px;
  background-color: $intro-text;
}

#mapdiv {
  width: 100%;
  height: 325px;
  z-index: 999999999;
  background-color: $map-background-color;
  &.map-loading{
    background: url(../img/mapbackground.png) center no-repeat;
  }
}

.debt-total {
  text-align: center;
  @extend %mono;
  font-size: 24px;
  letter-spacing: 4px;
}

.social-media {
  opacity: 0;
  position: fixed;
  width: 50px;
  height: 150px;
  left: 20;
  top: 200;
}

.map-container {
  position: relative;
  a {
    display: none !important;
  }
  .counter-container {
    bottom: -27.5px;
    position: absolute;
    z-index: 99999;
    left: 50%;
    @include transform(translateX(-50%));
    width: 384px;
  }
  .legend {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    @include transform(translateX(-50%));
  }
}

.splash-bottom-quote {
  margin-top: -25px;
}



/* stats section */

#stats {
  #number {
    line-height: 130px;
    img {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    border-top: 1px dotted $light-background-color;
    border-bottom: 1px dotted $light-background-color;
  }
  .vis {
    border-right: 1px dotted $light-background-color;
    margin: 20px 0;
  }
  .row .col-md-4:last-child .vis {
    border: none;
  }
}

/* jquery odometer counter */

.counter-container {
  height: 55px;
  overflow: hidden;
  position: relative;
  border: 1px solid $light-background-color;
  border-radius: 2px;
  background-image: url('../img/jodometer-background2.png');
  background-repeat: repeat-x;
  width: 288px;
  margin: 0 auto;
}

.counter {
  width: 100%;
  height: 55px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.counter-text {
  font-size: 20px;
  line-height: 1em;
  font-weight: normal;
  &.pre {
    font-size: 40px;
    margin: 50px 0 30px;
  }
  &.post {
    margin: 20px 0 40px;
  }
}

