{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
<div scroll ng-controller="corinthianCtrl">
<div id="corinthian">
<div class="top-graphic centered">
  <img src="/static/img/strikers/striker_top-graphic.gif" />
</div>
<div class="tabs">
  <div class="single-tab front">THE CORINTHIAN TEN</div>
  <div class="single-tab back"><a href="#likethestrike">Like the strike?</a></div>
</div>
<div class="wrapper light page">
<div class="loading" ng-show="loading">Loading..</div>
<div class="profiles">
  <div ng-repeat="item in data" class="item" ng-class="{visible: $index == selectionIndex}">
    <div class="img">
      <img ng-src="{$ item.image $}" />
    </div>
    <div class="info">
      <h3>{$ item.name $}</h3>
      <p>{$ item.bio $}</p>
    </div>
  </div>
</div>

<div class="body-text">
  <!--
  <div class="share-buttons">
    <div class="fb-share-button" data-href="http://debtcollective.org" data-layout="button_count"></div>
    <a class="twitter-share-button" data-url="http://debtcollective.org" text=""
    data-related="strikedebt,rollingjubilee,0debtzone"  data-dnt="true"
    data-text="Students are striking their student loans so they can get a full discharge and free education."
      href="https://twitter.com/share">
    Tweet
    </a>
  </div>
  -->
  <h2>CORINTHIAN 10 STATEMENT</h2>

<div class="flex">
  <div class="manifesto">
    <p>To the Department of Education, to the loan servicers, to the Genesis lending company, to Corinthian and ECMC, we have one thing to say: we owe you nothing.
    </p>
    <p>
    Who are we? We are the first generation made poor by the business of education. Many of us are the first in our families to attend college. We are made of the struggles others endured before us.  We wanted an education because we were driven to learn and to achieve a better life for ourselves and for those who come after us. As we look now in outrage and disgust at the world we inherit, we say the lies end here.
    </p>
    <p>
    Each month we are forced to make payments into an immoral system that profits from our dreams. We pay dearly for degrees that have led to unemployment or to jobs that don’t pay a living wage. Lenders and the Federal government offer us repayment plans that are presented as a helping hand. We say, we don’t accept your terms terms. We never agreed to them.
    </p>
    <p>
    You should know that we are not alone. Millions of current and former students are in more debt than they can ever repay. These loans can’t be repaid, and they won’t be repaid. From Corinthian to NYU to the University of California, creditors make a killing off our dreams. The federal government gets a cut and guarantees that lenders will be repaid no matter what. In other words politicians protect you, not us. Higher education at every level is for profit.
    </p>
    <p>
    To all those who have stolen our futures, to all those who force students to pay at the barrel of a gun, we say: enough! We won’t pay, not one penny. We are the Corinthian ten.
    </p>
  </div>
</div>
<!--
<h2 class="step-heading">Sign up for updates</h2>

<div class="body-text">
  <signupform visible='formVisible()' class="student-form"></signupform>
</div>

<h2 class="step-heading">Spread the word!</h2>

<div class="tweet-boxes">
<tweet-btn tweet-text="hello"></tweet-btn>
<tweet-btn tweet-text="hello"></tweet-btn>
<tweet-btn tweet-text="hello"></tweet-btn>
<tweet-btn tweet-text="hello"></tweet-btn>
</div>
When we defend #Everest students, we fight for ALL students. #DebtTrap

<tweet-btn text="To the DoE I'm just a number: ________. We are ALL in the red.  #NotALoan"></tweet-btn>
<h2>Donate your account</h2>
<p class="centered">
Put a red square in your social media profile picture.
</p>
<p class="centered">
<a href="https://twibbon.com/Support/debt-collective">
<img src="/static/img/ange.jpg" width="200px"/>
</a>
</p>-->
</div>
</div>

<div id="likethestrike" class="hud body-text">
  <div class="top">
    <div class="half left">
        <h1>Join the</h1> <h1 class="large">Strike</h1>
    </div>
    <div class="half right">
        <h1 class="large">Support</h1> <h1>the Strikers</h1>
    </div>
  </div>
  <div class="full">
  <h1> Join the</h1> <h1 class="large">Corinthian Collective</h1>
  </div>
  <div class="full">
    <h1>Build a</h1> <h1 class="large">Future Strike</h1>
  </div>
</div>
</div>
</div>
{% endblock %}
