<head>
  <!-- DC kit -->
  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css?v3824df83" />
  <link href='//fonts.googleapis.com/css?family=Ubuntu:300|Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/static/img/RedSquare_favicon.png">

  <meta charset="UTF-8">
  <title>The Debt Collective</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.">
  <meta name="keywords" content="Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance,Debt Help">

  <meta property="og:title" content="The Debt Collective" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="/static/img/strikers/striker_headerimage.gif" />
  <meta property="og:url" content="http://debtcollective.org" />
  <meta property="og:description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful." />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="The Debt Collective" />
  <meta name="twitter:description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful." />
  <meta name="twitter:image" content="/static/img/strikers/striker_headerimage.gif" />

</head>
<body scroll ng-app="myDebtIs">
  <div class="body" ng-controller="baseCtrl">
  <div class="hud-display-background" ng-click="supportVisible = false"
    ng-class="{visible: supportVisible}"></div>
    {% block body %}{% endblock %}
    <div ng-class="{visible: supportVisible}" class="hud-display">
      <div class="content">
        <div class="wrapper floating body-text light">
          <a ng-click="supportVisible = false" class="close-button">X</a>
          {% include "proj/donateBox.html" %}
        </div>
      </div>
    </div>
  {% include "proj/footer.html" %}

  </div>

<!--  {% include "proj/footer.html" %} -->
<!-- twitter widgets -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1483700951894498',
        xfbml      : true,
        version    : 'v2.1'
      });
    };
  </script>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54926002-1', 'auto');
  ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->

  <script src="//checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript" src="/static/dist/dc.js?vbd5486b0"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
