<head>
  <link rel="stylesheet" href="/static/css/splash.css" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <!--<link href='http://fonts.googleapis.com/css?family=Inconsolata|VT323'
      rel='stylesheet' type='text/css'>-->
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono|Raleway' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
  <meta charset="UTF-8">
  <title>The Debt Collective: Organize, Resist, Reimagine</title>
  <meta name="description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.">
  <meta name="keywords" content="Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance">

  <meta property="og:title" content="The Debt Collective: Organize, Resist" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="http://debtcollective.org" />
  <meta property="og:description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful." />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="The Debt Collective: Organize, Resist, Reimagine" />
  <meta name="twitter:description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful." />
  <meta name="twitter:image" content="" />

  <!-- angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-cookies.min.js"></script>

  <script src="/static/js/debtis.js" type="text/javascript"></script>
  <script src="/static/js/util.js" type="text/javascript"></script>
  <script src="/static/js/directives.js" type="text/javascript"></script>

  <script src="/static/js/vendor/ui-bootstrap-custom-0.10.0.min.js"
    type="text/javascript"></script>
  <script src="/static/js/vendor/ui-bootstrap-custom-tpls-0.10.0.min.js" type="text/javascript"></script>

  <!-- maps -->
  <script src="/static/js/vendor/ammap/ammap.js"></script>
  <script src="/static/js/vendor/ammap/maps/js/worldHigh.js" type="text/javascript"></script>
  <script src="/static/js/maps/debtMap.js" type="text/javascript"></script>
</head>
<body ng-app="myDebtIs">
  <header class="hidden">
    <a href="/map">
      <div class="square">
         <div class="header-text">the
          <span style="text-decoration: line-through;">debt</span> collective<span class="small"></span></div>
      </div>
    </a>
    <div class="navigation">
      <a href="/" class="nav-item">
        join
      </a>
      <a class="nav-item">
        faq
      </a>
      <a class="nav-item">
        key
      </a>
    </div>
  </header>
  {% block body %}{% endblock %}
</body>
