{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='PASSWORD' %}

<div class="flex thankyou-background">
  <div class="wrapper dark">
    <h2>Create a new password.</h2>
    {% if form.errors.items|length == 1 %}<p>Oops!</p>{% endif %}
    <form action="/change_password" method="POST">{% csrf_token %}
      <div class="dc-input">
        {% csrf_token %}
        {% if bad_auth %}
        <p class="help-text">Passwords do not match.</p>
        {% endif %}
        {{ form.old_password.errors }}

        <input type="text" name="old_password" value="" placeholder="Current password" />
        <input type="text" name="username" placeholder="email" value="{{user.email}}"/>
        <input type="password" name="new_password1" placeholder="New password" required />
        {{ form.new_password1.errors }}
        <input type="password" name="new_password2" placeholder="New password again" required />
        {{ form.new_password2.errors }}
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
