{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/insideHeader.html" with title='SOLIDARITY WITH THE CORINTHIAN 15' %}

<div class="container">
  <div class="wrapper">
    <div class="paper">
      <div>
        <img class="letter-header" src="/static/img/strikers/corinthian10_letterheader.png" />
      </div>
      <div class="body-text mono">
        <h2 class="underline">TO THE DEPARTMENT OF EDUCATION:</h2><br>
        <p>19 February, 2015</p><br>
          <p>As educators, artists, activists, intellectuals, and advocates, we have seen the grisly restructuring of higher education bury at least one generation of students under a mountain of debt. In response to this economic cruelty, we have voted, we have rallied, we have made speeches, we have published, we have made films. The time has now come to strike. In signing this letter of support for the Corinthian 15, we stand with a group of students who have decided, collectively, to refuse repayment of their federal loans.They will take this bold act as members of the Debt Collective, a pilot debtors’ union.</p>

          <p>Corinthian Colleges Inc. was one of the nation’s largest for-profit colleges, and it is rapidly imploding. Corinthian carefully and deliberately led students into a debt trap: charging sky-high tuition, maxing out federal aid, offering private loans at extortionate interest rates, manipulating employment statistics, and targeting low-income communities, people of color, single mothers, and veterans with aggressive and misleading recruiting methods. This pattern of deceit was directly dependent on backing from the Department of Education, since federal loans supply unscrupulous colleges like Corinthian with nearly 90% of their revenue.</p>
          <p>
          Corinthian’s scam was exposed, and the company is now under investigation for fraud; its predatory lending practices are the target of multiple state and federal lawsuits. The Department of Education has the power to discharge student debt incurred under fraudulent circumstances, but has chosen instead to bail out this swindling corporation. Corinthian’s Wall Street investors are being looked after, while the students, who face a lifetime of debt servitude for worthless credits and degrees, are still expected to make timely payments.</p>

          <p>By declaring a strike, the Corinthian 15 are taking debt relief into their own hands and challenging the Department of Education to look out for students instead of protecting rich and powerful creditors. By declaring a strike, they are taking a stand for all student debtors, by reminding us that for-profit schools are just an extreme version of our increasingly untenable system of debt-financed higher education. By declaring a strike, the Corinthian 15 are asking why the U.S. lags so far behind other industrialized societies in denying its citizenry the right to free college enrollment.</p>
          <p>
          All current and former Corinthian students deserve to have their debts discharged. They are also owed a quality education. Join us as we, the undersigned, support the Corinthian 15.</p>

          <p>
          Andrew Ross
          Astra Taylor
          Barbara Ehrenreich
          Bill McKibben
          Carne Ross
          David Graeber
          David Harvey
          Douglas Rushkoff
          Frances Fox Piven
          Gabriella Coleman
          James Schamus
          Jeff Chang
          Katie Alice Greer of Priests
          Leah Hunt-Hendrix
          Marina Sitrin
          Michael Hardt
          Molly Crabapple
          Naomi Klein
          Nathen Schneider
          Rebecca Solnit
          Robin Kelley
          Rodrigo Nunes
          Ruthie Gilmore
          Saket Soni of National Guestworkers Alliance/ New Orleans Workers' Center for Racial Justice,
          Sheila Heti
          Slavoj Zizek
          Todd Gitlin
          Vijay Prashad
          </p>
          </div>
    </div>
  </div>
  <div class="dc-input wrapper dark">
    <signupform></signupform>
  </div>

    {% include "proj/strikedonate.html" %}
  </div>
</div>


{% endblock %}





