<div class="paper">
          <div>
            <img class="letter-header" src="/static/img/strikers/CorinthianDC-Logo+Type_WhiteMatte.png" />
          </div>
          <div class="body-text mono">
            <h2 class="underline">TO THE DEPARTMENT OF EDUCATION:</h2><br>
            <p>19 February, 2015</p><br>

             <p>Who are we? We are the first generation made poor by the business of education.</p>

             <p> We are people living paycheck to paycheck, single mothers, and young people just starting out. We wanted an education because we were driven to learn and to achieve a better life for ourselves and for our families.
            </p>
            <p>
            We trusted that education would lead to a better life. And we trusted you to ensure that the education system in this country would do so. But Corinthian took advantage of our dreams and targeted us to make a profit. You let it happen, and now you cash in.
            </p>
            <p>
            Each month you force us to make payments into an immoral system that profits from our aspirations.
            </p>

            <p>We paid dearly for degrees that have led to unemployment or to jobs that don’t pay a living wage. We can’t and won't pay any longer.
            </p>

            <div class="sm-buttons-left">
             <fb-button>
              <img class="sm-button" src="/static/img/fb.gif">
             </fb-button>
              <a href="https://twitter.com/intent/tweet?text=Repayment%20plans%20presented%20as%20a%20helping%20hand%20simply%20aren%E2%80%99t%20good%20enough.%20The%20wrong%20done%20to%20us%20is%20deeper%20than%20that%20%23CorinthianStrike%20%400debtzone" target="_blank">
                <img class="sm-button" src="/static/img/twitter.gif">
              </a>
            </div>
            <h1 class="emphasis">Repayment plans presented as a helping hand simply aren’t good enough. The wrong done to us is deeper than that. </h1>

            <p>We are not alone in this fight.  Corinthian’s predatory empire pushed hundreds of thousands into a debt trap. But even beyond for-profit schools, tens of millions of students are in more debt than they can ever repay. And you are the debt collector, with powers beyond a payday lender’s wildest dreams.
            </p>
            <p>To the Department of Education and to the lenders, servicers, and guarantee agencies who have stolen our futures, we say: enough! Erase these loans.</p>
            <p>
             To current and former college students across the country, we say: we stand with you to demand the end of a higher education system that profits from all our dreams. Join our fight.
            </p>
            <h6 id="likethestrike">
            We won’t pay. We are the Corinthian Fifteen,
            </h6>
            <div class="row signatures">

              <div ng-repeat="chunk in strikerChunks" class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
              <p>
              <span class="striker-signature" ng-repeat="striker in chunk">{$ striker.first_name $}<br>
              </p>
              </div>

            </div>
        </div>
      </div>