<div class="row">
  <h1 class="header">SUPPORT</h1>
  <div class="row">
    <div class="body-text">
      <h2>
        Donate to the action fund, used to support <a class="big-link" href="/studentstrike">debt strikers</a> as they organize public events, plan actions, and build a national movement to demand debt cancellation and free, quality education for all.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="body-text">
      <div class="dc-input">
        <donate-button flexible="true">Donate</donate-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="body-text caption">
      <p class="small italic">
        Your donation will support 501(c)(3) charitable and educational work to
        spread the word about debt collection practices and to support the
        organizing efforts of debtors challenging how we finance and access
        basic necessities such as housing, medical care and education. Your
        donation is tax-deductible to the extent allowed by law.
      </p>
    </div>
  </div>
</div>