
<div class="wrapper arrow-up"></div>
<div class="wrapper arrow-down-steep centered">
  <div class="row">
    <h2 class="first">{{title}}</h2>
    <div class="body-text">
      <p>
        This action fund will be used to support <a href="/studentstrike">Corinthian Strikers</a> as they organize public events, plan actions, and build a national movement to demand debt cancellation and free, quality education for all.
      </p>
    </div>
    <div class="body-text main caption">
      <div class="body-text">
        <div class="dc-input">
          <donate-button flexible="true">Donate</donate-button>
        </div>
      </div>
    </div>
    <div class="body-text">
      <p class="caption italic">
        Your donation will support 501(c)(3) charitable and educational work to
        spread the word about debt collection practices and to support the
        organizing efforts of debtors challenging how we finance and access
        basic necessities such as housing, medical care and education. Your
        donation is tax-deductible to the extent allowed by law.
      </p>
    </div>
  </div>
</div>
