<div class="container">
    <div class="wrapper dark" id="resources">
      <h2 class="floating-section-title">RESOURCES</h2>
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>Knowledge</h3>
          <ul>
            <li><a href="http://www.theguardian.com/money/2014/sep/17/occupy-activists-student-debt-corinthian-colleges">Occupy activists abolish $3.4m student debt</a></li>
            <li><a href="http://www.washingtonpost.com/news/storyline/wp/2014/09/17/how-one-student-got-burned-by-a-for-profit-college-and-bailed-out-by-occupy-wall-street/">How one student got burned by a for-profit college and bailed out by OWS</a></li>
            <li><a href="http://america.aljazeera.com/opinions/2014/9/strike-student-debt.html">Strike student debt! -Al Jazeera</a></li>
            <li><a href="http://blog.debtcollective.org/from-the-rolling-jubilee-to-the-debt-collective/">From Rolling Jubilee to the Debt Collective</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>Idontknow</h3>
          <ul>
            <li><a href="http://blog.debtcollective.org">Stay up to date with our blog</a></li>
            <li><a href="http://strikedebt.org/drom/">Debt Resistor's Operations Manual</a></li>
            <li><a href="http://rollingjubilee.org">The Rolling Jubilee</a></li>
            <li><a href="http://strikedebt.org">Strike Debt</a></li>
            <li><a href="http://strikedebt.org/all-our-grievances-are-connected/">All our grievances are connected</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h3>Action</h3>
          <ul>
            <li><a href="/knowyourstudentdebt">Know Your Student Debt</a></li>
            <li><a href="/studentstrike#donate">Donate to the Debt Collective</a></li>
            <li><a href="http://strategize.debtcollective.org/t/tactics-to-fight-back/68/28">Tactics to Fight Back</a></li>
            <li><a href="http://strategize.debtcollective.org/t/how-do-we-build-a-national-movement/67/10">How do we build a national movement?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <ul>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/studentstrike#donate">Donate</a></li>
        <li><a href="/#signup">Sign up</a></li>
        <li><a href="http://strategize.debtcollective.org">Community Forums</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <ul>
      <li>
        <a href="http://github.com/strikedebt/debtcollective-web">Always Open Source</a>
      </li>

      <li> <a href="http://www.ammap.com/javascript-maps" target="_blank">JS map by amCharts</a></li>
      <li>
      Copyright © 2014 Debt Collective</li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 centered">
      <ul>
        <li>
          <a class="sm-button" href="https://www.facebook.com/DebtCollective" target="_blank">
            <img src="/static/img/fb_dark.gif">
          </a>
          <a class="sm-button" href="http://twitter.com/0debtzone" target="_blank">
            <img src="/static/img/twitter_dark.gif">
          </a>
        </li>
         <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="j/0E/1C9/A3A/87D4E9F391A21159">
          </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
         </li>
      </ul>

  </div>
</div>
