<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
          <li><a href="/#faq">FAQ</a></li>
          <li><a href="http://strategize.debtcollective.org">Forums</a></li>
          <li><a href="https://www.facebook.com/DebtCollective">Facebook</a></li>
          <li><a href="http://twitter.com/0debtzone">Twitter</a></li>
          <li><a href="http://github.com/strikedebt/debtcollective-web">Github</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="createsend-button" style="height:27px;display:inline-block;"
          data-listid="j/0E/1C9/A3A/87D6E9F391A21159">
        </div>
        <script type="text/javascript">(function () { var e =
        document.createElement('script'); e.type = 'text/javascript'; e.async
        = true; e.src = ('https:' == document.location.protocol ? 'https' :
        'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className =
        'createsend-script'; var s =
        document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s); })();</script>
      </div>
    </div>
  </div>
  <p class="footer-copyright right">Copyright 2014 Debt Collective. Created by <a href="http://recursiverelay.com" target="_blank">Recursive Relay</a></p>
</div>
