<div class="footer wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2>Background</h2>
      <ul>
        <li><a href="http://www.theguardian.com/money/2014/sep/17/occupy-activists-student-debt-corinthian-colleges">Occupy activists abolish $3.4m student debt</a></li>
        <li><a href="http://www.washingtonpost.com/news/storyline/wp/2014/09/17/how-one-student-got-burned-by-a-for-profit-college-and-bailed-out-by-occupy-wall-street/">How one student got burned by a for-profit college and bailed out by OWS</a></li>
        <li><a href="http://america.aljazeera.com/opinions/2014/9/strike-student-debt.html">Strike student debt! -Al Jazeera</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2>Knowledge</h2>
      <ul>
        <li>Know Your Debt</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2>Action</h2>
      <ul>
        <li>Know Your Debt Kit</li>
        <li>Corinthian
      </ul>
    </div>
  </div>

  <div class="body-text">

  </div>

</div>