 <div ng-class="{scrolling: yLoc >= 5}" class="header-links hidden-mobile">
    <div class="header-title">
      <a href="/"><h1>
        <img src="/static/img/RedSquare_favicon.png" class="logo" />
        DEBT COLLECTIVE
      </h1></a>
    </div>
    <a href="/">
    <img src="/static/img/RedSquare_favicon.png" class="logo bar" />
    </a>
    <a href="/actions">Action</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://blog.debtcollective.org">Blog</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://strategize.debtcollective.org">Community</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a ng-click="supportVisible = true" du-smooth-scroll>Support</a>
</div>

<div class="header-links mobile-only">
    <a href="/actions">Action</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://blog.debtcollective.org">Blog</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://strategize.debtcollective.org">Community</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a ng-click="supportVisible = true" du-smooth-scroll>Support</a>
</div>
