
<nav ng-class="{scrolling: yLoc >= 5}" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/RedSquare_favicon.png" class="logo" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--
<div class="header-links hidden-mobile">
    <div class="header-title">
      <a href="/"><h1>
        DEBT COLLECTIVE
      </h1></a>
    </div>
    <a href="/">
    <img src="/static/img/RedSquare_favicon.png" class="logo bar" />
    </a>
    <a href="/actions">Action</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://blog.debtcollective.org">Blog</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://strategize.debtcollective.org">Community</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a ng-click="supportVisible = true" du-smooth-scroll>Support</a>
</div>

<div class="header-links mobile-only">
    <a href="/actions">Action</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://blog.debtcollective.org">Blog</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a href="http://strategize.debtcollective.org">Community</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a ng-click="supportVisible = true" du-smooth-scroll>Support</a>
</div>

-->