 <div ng-class="{scrolling: yLoc >= 5}" class="header-links hidden-mobile">

    <div class="header-title">
      <h1>
      <img style="vertical-align: inherit;" src="/static/img/RedSquare_favicon.png" />
        DEBT COLLECTIVE
      </h1>
    </div>
    <a class="nav-link" href="/">HOME</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a class="nav-link" href="/actions">ACTION ALERT!</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a class="nav-link" href="http://blog.debtcollective.org">BLOG</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a class="nav-link" href="http://strategize.debtcollective.org">COMMUNITY</a>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <a class="nav-link" href="/#donate" du-smooth-scroll>DONATE</a>
</div>

<div class="header-links mobile-only">
<a class="nav-link" href="/">HOME</a>
&nbsp;&nbsp;  |  &nbsp;&nbsp;
<a du-scrollspy class="nav-link" href="/actions">ACTION ALERT!</a>
</div>
