{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}
<div class="wrapper">
<div class="container">
<div class="paper">
  <div class="body-text ">
  <h1>How far to free?</h1>
  <h2>The uncomfortable truth is that our current higher education system works mostly for the rich.</h2>
<p>The uncomfortable truth is that our current higher education system works mostly for the rich, with low-income students paying more for college than their privileged peers. Many of us must go into debt for degrees that aren’t worth much, if anything, on the job market. The combination of student loans and low wages is making us worse off than before we enrolled in college. </p>

<p>This is especially unjust because tuition free higher education is easily affordable. </p>

 <h1>Free higher education is a rounding error - less than 1% of the federal budget <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howfartofree.org" data-text="Free Higher Education is a rounding error: less than 1% of the federal budget @0debtzone" data-count="none" data-hashtags="howfartofree,highered,fachat" data-dnt="true">Tweet</a> <div class="fb-share-button" data-href="https://debtcollective.org/howfartofree" data-layout="button"></div></h1>


<p>We almost never hear about the possibility of free college from politicians and pundits who talk instead about “college affordability” as the latest goal of higher education reform. But what does that mean? No one seems to know and, in fact, “affordable” is a word that can mean almost anything to anyone. Similarly, servants of the student loan industry claim to offer “financial aid,” as though they are providing a charitable service, when in fact both the private and public sectors reap enormous profits from our monthly payments. </p>

<p>Instead of actually solving the problem of student debt, some politicians and policy experts have begun to propose what they call “debt free” college plans. (These plans go by names like “Pay It Forward”, “income sharing agreements”, “income-based repayment” or “Pay As You Earn.”) Most of the time, though, these plans are not tuition free. Some of them would require us to pay a portion of our income for years after graduation. Some of them would require us to study in certain fields that lead to very specific occupations. No one patronizes students from wealthy families by telling them to live their lives only to please employers. We are tired of being talked down to in meaningless words by bureaucrats and elected officials who think they know what is best for us. </p>

<p>A real solution to the problem of student debt is to make all public colleges completely tuition free. How much would that cost? The answer might surprise you. According to an <a href="http://strikedebt.org/how-far-to-free/">analysis by Strike Debt</a>, after stripping off the amount that the government already spends to subsidize higher education — including at predatory for-profit institutions — the total amount of new money necessary would be as little as $15 billion a year.  Fifteen billion is a fraction of one percent of yearly government spending; it is merely a rounding error in the federal budget, less than the government currently spends on tax breaks for just 20 corporations.</p>
<img src="/static/img/howfar/cd15_hf3f-2.jpg" />
<p>As Strike Debt’s analysis shows, <strong>free higher education is possible.</strong> In fact, many countries around the world fund public universities, and college was low-cost or free in the United States for much of the 20th century. </p>

<p>Imagine students attending college tuition free. Imagine an end to student debt, to decades of debilitating payments and to the pressure to choose a career based not on what you love to do, or what you want to do for the good of your community, but on the likelihood that you may be able to pay off your loan in the distant future.</p>

<p>The end of student debt is within reach. We just need to allocate resources differently. Governments in countries as disparate as <a href="http://thinkprogress.org/education/2014/10/01/3574551/germany-free-college-tuition/">Germany and Chile</a> have recently announced they are eliminating tuition costs altogether.  Why not us?</p>

<p>As part of making education free, we need to think differently about the purpose of education. Most of the time, we are told that education is key to finding employment and the only path out of poverty. In reality, our country’s economic problems can’t be solved by education alone—producing more college graduates won’t make more meaningful well-paying jobs magically appear! Nevertheless, this is the message that low-income people hear all the time, and it is bunk. The implications are that education is nothing but career training, and that if we don’t go to college, we don’t deserve to make a living wage or work in a field we enjoy. We oppose this kind of thinking as much as we oppose student debt. </p>

<p>We can start reimagining education by fully funding colleges and universities and by reminding ourselves that the desire to study and learn is part of what makes us human. Lack of money should not be a barrier to fulfilling our curiosity and pursuing our dreams. Eliminating the anxiety of loan payments would allow us to develop our minds without feeling the pressure of future debt payments bearing down on us. Wealthy people already have this option. Why not us?</p>

<h1>Free education means the freedom to decide what to do with our lives. <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howfartofree.org" data-text="Free education means the freedom to decide what to do with our lives. @0debtzone" data-count="none" data-hashtags="howfartofree,highered,fachat" data-dnt="true">Tweet</a> <div class="fb-share-button" data-href="https://debtcollective.org/howfartofree" data-layout="button"></div> </h1>
<p>We want to learn in ways that we choose. We don’t want to be “human capital.” We want schools organized in our interest, not in the interest of lenders or employers. We know that college can be free in all those ways. We are ready to fight for it.</p>

<p>We invite you to join the growing struggle for truly free higher education. Already we are a force that cannot be ignored. There are lots of ways to participate. <a href="https://debtcollective.org/studentstrike">Some of us are on debt strike</a>, refusing to pay back student loans that we believe are immoral and illegitimate and shouldn’t exist in the first place; some are legally disputing our student debt on the grounds it is fraudulent; some are <a href="http://www.refinery29.com/2015/05/86537/corinthian-college-closing-student-loan-debt-strike#.lv3n62:DcC7">writing articles</a> about our experiences as debtors; and all of us are talking to our friends and family about making free education for all a priority. Whatever you choose to do, you’re helping to imagine a better future for everyone. </p>

<p>We are not cogs in employers’ machines. And we refuse to be in debt to creditors for something that should be free. Join us! </p>
<h2>Thanks, The Debt Collective</h2>
</div>
 </div>
 </div>
 </div>
{% endblock %}