<div class="scrolling header-links inside-header flex hidden-mobile">
  <div class="back">
    <a class="nav-link" href="/" du-scrollspy du-smooth-scroll>
      back
    </a>
  </div>
  <h2 class="title">
    <img style="vertical-align: inherit;" src="/static/img/RedSquare_favicon.png" />
    <a href="/">DEBT COLLECTIVE</a> > {{title}}</h1>
</div>

<div class="header-links inside-header mobile-only flex">
  <h2 class="title">
      <img src="/static/img/RedSquare_favicon.png" />
    <a href="/">DEBT COLLECTIVE</a><br>{{title}}
  </h1>
</div>
