<div class="scrolling header-links inside-header flex hidden-mobile">
  <div class="back">
    <a class="nav-link" href="/" du-scrollspy du-smooth-scroll>
      back
    </a>
  </div>
  <h1 class="title">
      <img style="vertical-align: inherit;" src="/static/img/RedSquare_favicon.png" /> {{title}}</h1>
</div>

<div class="header-links inside-header mobile-only flex">
  <h1 class="title">
      <img style="vertical-align: inherit;" src="/static/img/RedSquare_favicon.png" />
    {{title}}
  </h1>
</div>
