{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}

{% include "proj/insideHeader.html" with title='CORINTHIAN COLLECTIVE: KNOW YOUR STUDENT DEBT' %}
    <div class="centered">
     <iframe width="100%" height="100%" src="https://docs.google.com/document/d/1uOZhh_HZVG6A-7_DxDMpmLgb_y5QtmGIOHuPwsesKT8/pub?embedded=true"></iframe>
    </div>
<!--<div class="container inside-container">
  <div class="wrapper dark">
  <h4>
      <ul>
        <li>1. Go to the <a href="https://www.nslds.ed.gov/nslds_SA/secure/SaFinPrivacyAccept.do" target="_blank">NSLDS student loan database</a> at https://www.nslds.ed.gov/nslds_SA/secure/SaFinPrivacyAccept.do
        </li>
        <li>2. Enter your personal details. If you don't have a PIN, see the below PDF for more detailed instructions</li>
        <li>3. On the NSLDS page, there is also an option to download a text file with all of your loan data. Please download the file and save it</li>
        <li>4. Once you have located your data, fill out the form below starting on page 6 with as much information as possible. </li>
      </ul>
      </h4>
    <h2 class='floating-header-title'>Detailed instructions</h2>
  </div>
</div>-->
{% endblock %}





