{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='LOGIN' %}

<div class="flex thankyou-background">
  <div class="wrapper dark">
    <form action="/login" method="POST">
      <div class="dc-input">
        {% csrf_token %}
        {% if bad_auth %}
        <p class="help-text">Email and password do not match.</p>
        {% endif %}
        <input type="text" name="username" placeholder="email or username" required />
        <input type="password" name="password" placeholder="password" required />
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}