{% extends "proj/base_template.html" %}

{% block body %}
<div ng-controller="novFourthCtrl" class="wrapper light">
  <div class="body-text">
    <h2 class="corinthian-title">Corinthian at the DoE, November 4th</h2>

    <p>Our tech team made it so that those of us who couldn't be there in person can be there virtually. This website will go live an hour before the hearing with a livestream, chat, social media links, DoE twitter bomb and other virtual actions. We'll meet here on Nov 4th, http://corinthian.debt.is</p>

    <h2>
      <a href="http://debtcollective.org/corinthian/">Click here for more information on how to combat corinthian.</a>
    </h2>
    <img src="/static/img/Nov4flyer.jpg" />
  </div>
</div>
{% endblock %}