{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}

{% include "proj/insideHeader.html" with title='DASHBOARD' %}

<div class="container">
  <div class="wrapper light">
    <div class="row">
      <div class="centered body-text">
        <h1>Welcome {{user.username}}!</h1>
      <ul>
        <li><a class="big-link" href="/logout">Logout</a></li>
      </ul>
      </div>
      <div class="body-text">
        <p>There's some super important text here I think you should know about. There's some super important text here I think you should know aboutThere's some super important text here I think you should know aboutThere's some super important text here I think you should know aboutThere's some super important text here I think you should know about</p>
      </div>
    </div>
  </div>
  <div class="wrapper dark">
    <h2>Actions in progress:</h2>
    <div class="row">
      {% include "collectives/action_cards.html" with actions=user_actions %}
    </div>
  </div>
  <div class="wrapper dark">
    <h2>Membership Collectives:</h2>
    <div class="row">
      {% for collective in collectives %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 collective-card">
          <a href="{{collective.link}}">
          <div class="collective-card-content" style="background-image:url({{collective.image}});" />
          </div>
          <h3>{{collective.name.upper}}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}