 <div class="paper">
  <div>
    <img class="letter-header" src="/static/img/strikers/corinthian10_letterheader.png" />
  </div>
  <div class="body-text mono">
    <h2 class="underline">TO THE DEPARTMENT OF EDUCATION FROM SUPPORTERS:</h2><br>
    <p>19 February, 2015</p><br>
      <h6>As educators, artists, activists, intellectuals, and advocates, we have seen the grisly restructuring of higher education bury at least one generation of students under a mountain of debt. </h6>
      <p>In response to this economic cruelty, we have voted, we have rallied, we have made speeches, we have published, we have made films. The time has now come to strike. In signing this letter of support for the Corinthian 15, we stand with a group of students who have decided, collectively, to refuse repayment of their federal loans.They will take this bold act as members of the Debt Collective, a pilot debtors’ union.</p>

      <p>Corinthian Colleges Inc. was one of the nation’s largest for-profit colleges, and it is rapidly imploding. Corinthian carefully and deliberately led students into a debt trap: charging sky-high tuition, maxing out federal aid, offering private loans at extortionate interest rates, manipulating employment statistics, and targeting low-income communities, people of color, single mothers, and veterans with aggressive and misleading recruiting methods.</p>

      <h6> This pattern of deceit was directly dependent on backing from the Department of Education, since federal loans supply unscrupulous colleges like Corinthian with nearly 90% of their revenue.</h6>
      <div class="sm-buttons-right">
       <a href="http://www.facebook.com/share.php?u=http://debtcollective.org&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
        <img class="sm-button" src="/static/img/fb.gif">
       </a>
        <a href="https://twitter.com/intent/tweet?text=The%20DOE%20has%20the%20power%20to%20discharge%20student%20debt%2C%20but%20has%20chosen%20instead%20to%20bail%20out%20this%20swindling%20corporation.%20debtcollective.org" target="_blank">
          <img class="sm-button" src="/static/img/twitter.gif">
        </a>
      </div>
      <p>
      Corinthian’s scam was exposed, and the company is now under investigation for fraud; its predatory lending practices are the target of multiple state and federal lawsuits.
      </p>

      <h6>The Department of Education has the power to discharge student debt incurred under fraudulent circumstances, but has chosen instead to bail out this swindling corporation.</h6>

      <p>Corinthian’s Wall Street investors are being looked after, while the students, who face a lifetime of debt servitude for worthless credits and degrees, are still expected to make timely payments.</p>

      <h6>By declaring a strike, the Corinthian 15 are taking debt relief into their own hands and challenging the Department of Education to look out for students instead of protecting rich and powerful creditors. </h6>

      <p>By declaring a strike, they are taking a stand for all student debtors, by reminding us that for-profit schools are just an extreme version of our increasingly untenable system of debt-financed higher education. By declaring a strike, the Corinthian 15 are asking why the U.S. lags so far behind other industrialized societies in denying its citizenry the right to free college enrollment.</p>
      <p>
      All current and former Corinthian students deserve to have their debts discharged. They are also owed a quality education.</p>

      <p><strong><a href="/studentstrike#donate">Join us as we, the undersigned, support the Corinthian 15.</a></strong></p>

      <p>
      Andrew Ross<br>
      Astra Taylor<br>
      Barbara Ehrenreich<br>
      Bill McKibben<br>
      Carne Ross<br>
      David Graeber<br>
      David Harvey<br>
      Douglas Rushkoff<br>
      Frances Fox Piven<br>
      Gabriella Coleman<br>
      James Schamus<br>
      Jeff Chang<br>
      Katie Alice Greer of Priests<br>
      Leah Hunt-Hendrix<br>
      Marina Sitrin<br>
      Michael Hardt<br>
      Molly Crabapple<br>
      Naomi Klein<br>
      Nathen Schneider<br>
      Rebecca Solnit<br>
      Robin Kelley<br>
      Rodrigo Nunes<br>
      Ruthie Gilmore<br>
      Saket Soni of National Guestworkers Alliance/ New Orleans Workers' Center for Racial Justice,<br>
      Sheila Heti<br>
      Slavoj Zizek<br>
      Todd Gitlin<br>
      Vijay Prashad<br>
      </p>
      <div class="spacer"></div>
  </div>
</div>
