{% extends "proj/base_template.html" %}

{% block body %}
  <div class="vertical-center" ng-controller="splashBodyCtrl">
    <div class="signup-form">
      <div class="text">
        <h1>you are not a loan.</h1>
      </div>
      <div class="form">
        <form action="http://strikedebt.createsend.com/t/j/s/nskul/" method="post"
            ng-submit="onSubmitClick()">
          <div class="dc-input">
            <input type="text" class="hidden" name="cm-name" ng-model="username" />
            <input type="email" name="cm-nskul-nskul"  ng-model="email"
                placeholder="enter an email..." autofocus required />
            <input type="text" ng-model="location" placeholder="where at?" typeahead-editable="false"
                typeahead="city as city.name for city in cities | limitTo:8 | filter:{name:$viewValue}" required>
          </div>
          <button type="submit" name="submit" class="btn" >join</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
