<form class="form-inline" action="http://occupystudentdebtcampaign.createsend.com/t/j/s/uidyky/" method="post" id="ss-form">
  <p>
    <label for="fieldiitrtu">Email</label>
    <input type="text" name="cm-uidyky-uidyky" value="" class="input-medium" id="entry_0" placeholder="you@example.com">
  </p>
  <p style="margin-bottom: 0;">
      <label for="fieldiitrtu">Zip Code<br />(optional)</label>
      <input id="fieldiitrtu" name="cm-f-iitrtu" type="text" style="width: 4em;" />
  </p>
  <button type="submit" name="submit" class="btn">Sign up</button>
</form>
