<div class="row">

        <div class="col-md-24 centered" id="stats">

          <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 hidden-mobile">

              <div class="vis">

                <img src="/static/img/stats/fg_vis1.png">

              </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">

              <div class="vis">

                <img src="/static/img/stats/fg_vis2.png">

              </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">

              <div class="vis">

                <img src="/static/img/stats/fg_vis3.png">

              </div>

            </div>

          </div>

           <div class="row hidden-mobile" id="number">

            <div class="span24">

              <img src="/static/img/stats/fg_tuition-debt-is-over-one-trillion.png" alt="Tuition debt is over $1,000,000,000">

            </div>

          </div>

          <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">

              <div class="vis">

                <img src="/static/img/stats/fg_vis4.png">

              </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">

              <div class="vis">

                <img src="/static/img/stats/fg_vis5.png">

              </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">

              <div class="vis">

                <img src="/static/img/stats/fg_vis6.png">

              </div>

            </div>

          </div>

        </div>
