{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
<div class="container">
    <div class="wrapper dark">
      <div class="body-text">
        <h1 class="floating-section-title">Did you attend Everest, Heald, or Wyotech? Join the Corinthian Collective to fight back against Corinthian and the Department of Education
        </h1><br>
        <h2>
         Corinthian Colleges has been accused by several state and federal government agencies of fraud and predatory lending, yet the Department of Education continues to collect on Corinthian students’ debts.
        </h2>
        <p>
        Were you lied to by Corinthian? Did they make promises they didn’t keep? Did you feel pressured into borrowing more than you originally intended? If you can answer yes to any of these questions, we can help you dispute your debt.
        </p>
        <p>
        Corinthian students and debt collective organizers are working together with lawyers, web designers, education experts, and others to finalize a powerful series of strategies that past and present Corinthian students can use to fight back. Sign up below to join the Corinthian Collective. Starting in March, we will be providing all members with an opportunity to join together with others to demand cancellation of their federal loans.
        </p>
      </div>
    </div>

    <div class="body-text" id="strikeform">
      <iframe src="https://docs.google.com/forms/d/1RDOUi6lvkwdFFJ7arxFR4GlhPMvKEqPOmDG8hJ_Cxvs/viewform?embedded=true" width="760" height="1200px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <div class="wrapper arrow-up"></div>
    <div class="wrapper arrow-down-steep">
      <div class="row">
        <h2>WHAT IS A STRIKE?</h2>
        <div class="body-text">
          <p>
            <a href="/studentstrike">Corinthian students are currently involved in a student debt strike</a>. A student debt strike is a collective commitment to not pay student loans. The goal of the strike is to join together to put pressure on lenders and the Department of Education to cancel your loans. Corinthian students are in a particularly good position to demand debt relief since their school has been accused of fraud and predatory lending.
          </p>
          <p>There are several ways for Corinthian students to join the strike. You can join if:
          </p>
          <ul>
            <li>
            You are in default (have not made a payment in 270 days or more) on your Federal student loan and don’t plan to resume payments.
            </li>
            <li>

            You are not paying your loans because you are enrolled in forbearance or deferment, and you don’t plan to resume payments when those programs end.
            </li>
            <li>

            You are in a grace period on your Federal loans and don’t plan to begin making payments when the grace period ends.
            </li>
            <li>

            You are enrolled in Income-Based Repayment, your monthly payment is $0, and you do not plan to pay should your payments increase.
            </li>
            <li>

            You are delinquent (behind on your payments) and you are committed to paying as infrequently as possible to avoid outright default and the consequences of default. (The consequences can include wage and tax return garnishment among others.)
            </li>
          </ul>
          <br>
        <h2>
        If you are in any of the above positions and would like to go public with your story, you are invited to <a href="#strikeform" class="big-link">join the Corinthian strike</a> with other current and former students.
        </h2>
        <p>
        Please fill out the above form and someone will contact you as soon as possible.
        </p>
        </div>
        <h2>IS THERE A LAWSUIT?</h2>
        <div class="body-text">
          <p>
          No. There is no lawsuit that students can join at this time. When student enrolled in Corinthian they signed an arbitration clause, effectively signing away their right to sue in a court of law.
          </p>
          <p>
          Don’t get us wrong. Corinthian is facing plenty of legal trouble. If the government agencies win any of their suits against the school, you may get some debt relief. But nothing is certain.
          </p>
          <p>
          The Debt Collective is working with lawyers on a legal strategy called “Defense to Repayment” that you will be able to get involved in soon. Join the Corinthian Collective in order to participate.  As we move forward, we can develop other ways to fight back as well.
          </p>
        </div>
      </div>
    </div>

  <div class="wrapper dark">
    <h2 class="floating-section-title">
      <a class="left big-link" href="/"><< BACK TO THE DEBT COLLECTIVE</a>
    </h2>
  </div>
</div>

{% endblock %}