{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
<div class="container">
    <div class="wrapper dark">
      <h1 class="centered">JOIN THE CORINTHIAN STRIKE?</h1>
      <div class="body-text">
        <p>
          Someone will contact you about actions and stuff.
        Someone will contact you about actions and stuff.
        Someone will contact you about actions and stuff.
        Someone will contact you about actions and stuff.
        </p>
      </div>
    </div>

    <div class="wrapper arrow-up"></div>
    <div class="wrapper arrow-down-steep">
      <div class="row">
        <h2>WHAT IS A STRIKE?</h2>
        <div class="body-text">
        <p>
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          </p>
        </div>
        <h2>IS THERE A LAWSUIT?</h2>
        <div class="body-text">
        <p>
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          Some framing language about defense to repayment
          </p>
        </div>
      </div>
    </div>

    <div class="body-text">
      <iframe src="https://docs.google.com/forms/d/1RDOUi6lvkwdFFJ7arxFR4GlhPMvKEqPOmDG8hJ_Cxvs/viewform?embedded=true" width="760" height="1000px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  <div class="wrapper dark">
    <h2 class="floating-section-title">
      <a class="left big-link" href="/studentstrike"><< BACK TO THE DEBT COLLECTIVE</a>
    </h2>
  </div>
</div>

{% endblock %}