{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}

{% include "proj/insideHeader.html" with title='CORINTHIAN COLLECTIVE' %}

<div class="container inside-container">
  <div class="wrapper arrow-down-steep">
      <div class="row">
        <div class="body-text main">
          <h2 class="spacer">WERE YOU A STUDENT OF EVEREST, HEALD, OR WYOTECH?</h2>

          <p> Corinthian Colleges has been accused by several state and federal government agencies of fraud and predatory lending, yet the Department of Education continues to collect on Corinthian students’ debts. Join the Corinthian Collective to fight back against Corinthian and the Department of Education.</p>

          <p>
        Were you lied to by Corinthian? Did they make promises they didn’t keep? Did you feel pressured into borrowing more than you originally intended? If you can answer yes to any of these questions, we can help you dispute your debt.
           </p>
        </div>
      </div>
      <div class="body-text caption ">
        <a class="big-link" href="#signup">LEARN MORE</a>
      </div>
    </div>

    <div class="wrapper dark">
      <h2>BECOME A MEMBER OF THE CORINTHIAN COLLECTIVE</h2>
      <h2 style="text-align: left">
      </h2>
    </div>
    <div class="frame-container centered" id="signup">
      {% include "proj/ccform.html" %}
    </div>
    <div class="wrapper arrow-up"></div>
    <div class="wrapper arrow-down-steep">
      <div class="row light">
        <div class="body-text">
        <h2>WHAT HAPPENS NEXT?</h2>

          <p>
         Right now we have three campaigns in the works to challenge your Federal, Private, and Genesis debts.
          </p>
          <p>
          <ul>
          <li><strong>A ‘Defense to Repayment’ initiative.</strong> This involves collecting your information and writing legal claims to loan servicers and the Dept of Ed to demand the cancellation of these debts. This will begin in Spring 2015.</li>
          <li><strong>Genesis stop payment campaign.</strong> We are advising all Genesis debtors that, due to the recent settlement between ECMC and CFPB, it is ok to stop paying your Genesis loans. Genesis will not sue you. We will support you by challenging these debts and offering legal support to Genesis debtors.</li>
          <li><strong>Strike. </strong>Some Corinthian students are <a href="/studentstrike">choosing to go public</a> about their decision to stop paying their federal student loans. This decision can be risky, so we want to talk with every student individually about whether this choice makes sense for them.</li>
          </ul>
          </p>
          </div>
        <h2 class="spacer">WHAT IS A STRIKE?</h2>
        <div class="body-text">
          <p>
            <a href="/studentstrike">Corinthian students are currently involved in a student debt strike</a>. A student debt strike is a collective commitment to not pay student loans. The goal of the strike is to join together to put pressure on lenders and the Department of Education to cancel your loans. Corinthian students are in a particularly good position to demand debt relief since their school has been accused of fraud and predatory lending.
          </p>
        </div>
        <h2 class="spacer">IS THERE A LAWSUIT?</h2>
        <div class="body-text">
          <p>
          No. There is no lawsuit that students can join at this time. When student enrolled in Corinthian they signed an arbitration clause, effectively signing away their right to sue in a court of law.
          </p>
          <p>
          Don’t get us wrong. Corinthian is facing plenty of legal trouble. If the government agencies win any of their suits against the school, you may get some debt relief. But nothing is certain.
          </p>
          <p>
          The Debt Collective is working with lawyers on a legal strategy called “Defense to Repayment” that you will be able to get involved in soon. Join the Corinthian Collective in order to participate. As we move forward, we can develop other ways to fight back as well. <a href="http://strategize.debtcollective.org"> Check the community forum</a>.
          </p>
        </div>


          <div class="body-text caption sub">
             <a href="http://www.facebook.com/share.php?u=http://debtcollective.org/corinthiansignup&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
              <img class="sm-button" src="/static/img/fb.png">
            </a>
            <a href="http://twitter.com/intent/tweet?text=Join%20the%20Corinthian%20Collective%20to%20fight%20back%20against%20Corinthian%20and%20the%20Department%20of%20Education%20debtcollective.org%2Fcorinthiansignup%20%23debtstrike" target="_blank">
              <img class="sm-button" src="/static/img/twitter.png">
            </a>
          </div>
      </div>
    </div>
</div>

{% endblock %}