{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}
<div scroll ng-controller="corinthianCtrl" >
  <div class="hud-display-background"  ng-click="closeStriker($event)" ng-class="{visible: currentStriker != null}"></div>

  <section id="corinthian">
    <div class="container">

      <div class="wrapper light">
        <div class="top-graphic centered">
          <img class="hidden-mobile" src="/static/img/strikers/striker_headerimage.gif" />
          <img class="mobile-only" src="/static/img/strikers/striker_top-graphic-small.png" />
        </div>

        <div class="tabs">
          <div class="single-tab">THE CORINTHIAN 15</div>
          <div class="single-tab active"><a href="#likethestrike" du-smooth-scroll>Like the strike?</a></div>
        </div>
      </div>

      <!-- profiles and statement -->
      <div class="wrapper arrow-down-steep">
        <div class="loading" ng-show="loading">Loading..</div>
        <div class="row light" ng-cloak>
          <div class="body-text centered">
            <div class="spacer"></div>
            <p>Former students of Corinthian Colleges have <strong>declared a debt strike</strong> by refusing to pay their federal loans. <strong>Click on a striker to read their story.</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="body-text centered">
            <div class="row">
              <div ng-repeat="striker in strikerChunks[0]">
                  {% include "proj/strikers.html" %}
              </div>
            </div>
            <div class="inter-text">
              <h2>
                To the Department of Education, <br class="hidden-mobile">to the loan servicers,
              </h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in strikerChunks[1]">
                  {% include "proj/strikers.html" %}
              </div>
            </div>
            <div class="inter-text">
              <h2>To the genesis lending company,<br class="hidden-mobile">
              To corinthian and ECMC,</h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in strikerChunks[2]">
                  {% include "proj/strikers.html" %}
              </div>
            </div>
            <div class="inter-text">
              <h2>We have one thing to say</h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in strikerChunks[3]">
                  {% include "proj/strikers.html" %}
              </div>
            </div>
            <div class="inter-text big-bottom">
              <h2 class="big-link">WE OWE YOU NOTHING</h2>
            </div>

            <div class="body-text caption sub">
               <a href="http://www.facebook.com/share.php?u=http://debtcollective.org&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <img class="sm-button" src="/static/img/fb.png">
              </a>
              <a href="http://twitter.com/intent/tweet?text=TO%20THE%20DEPARTMENT%20OF%20ED%2C%20TO%20THE%20GENESIS%20LENDING%20COMPANY%2C%20WE%20HAVE%20ONE%20THING%20TO%20SAY%3A%20WE%20OWE%20YOU%20NOTHING%20debtcollective.org%2Fstudentstrike%20%23debtstrike" target="_blank">
                <img class="sm-button" src="/static/img/twitter.png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{visible: currentStriker != null}" class="hud-display body-text light">
        <div class="info">
          <div class="img">
            <img ng-click="closeStriker($event)"
               ng-src="/static/img/strikers/striker-portraits_{$ currentStriker.first_name $}.png" />
            <h3>{$ currentStriker.name $}</h3>
          </div>
          <p>{$ currentStriker.bio $}</p>
        </div>
      </div>
      <div class="tabs">
        <div class="single-tab" ng-class="{'active': !showCorinthianLetter}"
          ng-click="showCorinthianLetter = true">FROM THE CORINTHIANS</div>
        <div class="single-tab" ng-class="{'active': showCorinthianLetter}"
          ng-click="showCorinthianLetter = false">FROM SUPPORTERS</div>
      </div>

      <div ng-show="showCorinthianLetter">
      {% include "proj/corinthian15Letter.html" %}
      </div>

      <div ng-show="!showCorinthianLetter">
      {% include "proj/solidarityLetter.html" %}
      </div>

      <div class="spacer"></div>
      <div class="wrapper dark">
        <div class="body-text">
          <h2 class="floating-header-title">Like the strike?</h2>
            <signupform></signupform>
        </div>
      </div>
      <div id="donate"></div>
      {% include "proj/donateBox.html" with title="Support the Strike" %}

      <div class="wrapper dark">
        <h2>DO YOU HAVE DEBT FROM EVEREST COLLEGE?</h2>
        <div class="body-text">
          <h2>You can be involved in actions to fight to get your money back.  <a class="big-link" href="/corinthiansignup">LEARN HOW</a></h2>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
