{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='YOU ARE A MEMBER' %}

<div class="flex thankyou-background">
  <div class="container inside-container">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>

    <div class="wrapper dark">
      <div class="body-text">
        <div class="spacer"></div>
        <h2>Welcome to the Debt Collective.</h2>
        <p>Keep fighting. Join other debtors in our community forums:</p>
      </div>
    <div class="wrapper transparent">

      <div class="forum-box">
        <h1>Fight Sallie Mae and Navient</h1>
        <p>Lorium epsum Lorium epsumLorium epsum Lorium epsum Lorium epsum Lorium epsum Lorium epsum Lorium epsum Lorium epsumLorium epsum Lorium epsum Lorium epsum Lorium epsum Lorium epsum.</p>
        <a class="big-link" href="http://strategize.debtcollective.org/c/fight-sallie-mae-and-navient">Join the conversation >></a>
      </div>

      <div class="forum-box">
        <h1>Questions & Answers</h1>
        <p>Share your knowledge with others or get your questions answered. Untangle the confusion about your debt and loans.</p>
        <a class="big-link"  href="http://strategize.debtcollective.org/c/questions-answers"> Join the conversation >></a>
      </div>

      <div class="forum-box">
        <h1>Corinthian Collective</h1>
        <p>The Corinthian collective is a group of people who attended Corinthian College and a pilot project of the Debt Collective. Working together, organizers and students are demanding a full discharge of student loans held by Everest, Heald, and Wyotech students. </p>
        <a class="big-link" href="http://strategize.debtcollective.org/c/corinthian"> Join the conversation >></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
