{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='YOU ARE A MEMBER' %}

<div class="flex thankyou-background">
  <div class="container inside-container">
  <div class="spacer"></div>
  <div class="spacer"></div>

    <div class="wrapper dark">
      <div class="body-text centered">
        <div class="spacer"></div>
          <div class="sub">
            <h2>SPREAD THE WORD</h2>
             <a href="http://www.facebook.com/share.php?u=http://debtcollective.org&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
              <img class="sm-button" src="/static/img/fb.png">
            </a>
            <a href="http://twitter.com/intent/tweet?text=Support%20the%20organizing%20efforts%20of%20debtors%20challenging%20how%20we%20finance%20and%20access%20basic%20necessities%20debtcollective.org%20%23debtstrike" target="_blank">
              <img class="sm-button" src="/static/img/twitter.png">
            </a>
          </div>
          <div class="spacer"></div>
        <h2>JOIN OTHER DEBTORS IN THE FORUMS</h2>
      </div>
    <div class="wrapper transparent">

      <div class="forum-box">
        <h1>Fight Sallie Mae and Navient</h1>
        <p>Inspired by the Corinthian student debt strike? Imagine what we could build if everyone with Sallie Mae and Navient loans joined forces. Together, we can create leverage and power over Sallie Mae and Navient to lower interest rates, reduce principals, and even eliminate student debt. Join the Sallie Mae/Navient collective to start planning the next strike.</p>
        <a class="big-link" href="http://strategize.debtcollective.org/c/fight-sallie-mae-and-navient">Join the conversation >></a>
      </div>

      <div class="forum-box">
        <h1>Questions & Answers</h1>
        <p>Share your knowledge with others or get your questions answered. Untangle the confusion about your debt and loans.</p>
        <a class="big-link"  href="http://strategize.debtcollective.org/c/questions-answers"> Join the conversation >></a>
      </div>

      <div class="forum-box">
        <h1>Corinthian Collective</h1>
        <p>The Corinthian collective is a group of people who attended Corinthian College and a pilot project of the Debt Collective. Working together, organizers and students are demanding a full discharge of student loans held by Everest, Heald, and Wyotech students. </p>
        <a class="big-link" href="http://strategize.debtcollective.org/c/corinthian"> Join the conversation >></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
