@import "includes/variables";
@import "includes/mixins";

@import "pages/splash";
@import "pages/corinthian";


::-webkit-input-placeholder {
  color: $olive-yellow;
}
:-moz-placeholder { /* Firefox 18- */
   color: $olive-yellow;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $olive-yellow;
}
:-ms-input-placeholder {
   color: $olive-yellow;
}

button {
  text-align: center;
  &:hover {
    opacity: .7;
  }
}

button {
  cursor: pointer;
}


body {
    background-color: $dark-blue;
    line-height: 1.6em;
    @extend %mono;
    font-size: 16px;
}

.form-rest {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

section {
  width: 100%;
}

.body-text {
  @extend %rale;
  position: relative;
  margin: 0px auto;
  line-height: 34px;

  &.map-body {
    margin-top: -78px;
    padding-top: 0;
  }

  .title-banner {
    text-align: center;
    padding-bottom: 22px;
  }

  p {
    letter-spacing: 1.25px;
    margin-bottom: 22px;
  }
}

$banner-height: 32px;
.banner {
  @include frame-transition();
  z-index: 9999990;
  font-family: "Cutive mono";
  position: fixed;
  width: 100%;
  height: 88px;
  top: 2px;
  font-size: 18px;

  &.fadeIn,
  &:hover {
    top: $header-height;
  }

  .text {
    background-color: rgba(63,31,48,.80);
    height: $banner-height;
    text-align: center;
    margin: auto;
    padding: 5px;
  }

  a {
    color: #ccaa2d;
  }
}

h1 {
  @extend %rale;
  font-size: 46px;
  line-height: 46px;
  color: #feffe8;
  font-weight: 100;
  letter-spacing: 5px;
}


h2 {
  @extend %rale;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 44px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  &:nth-child(0){
    margin-top: 0px;
  }
}

.wrapper {
  background-color: $off-grey;
  position: relative;
  margin: 0 auto;

  &.light {
    color:  #39413f !important;
    background-color: rgba(254,255,232,.8);
  }
}

div {
  max-width: 100%;
}

/** GENERAL **/
.fixed {
  position: fixed;
}

.hidden {
    display: none;
}

/** angular-bootstrap compliance **/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.vertical-center {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    margin: auto;
}

a {
  text-decoration: none;
  color: #041a29;
  @include transition();

  &.active {
    color: rgb(172,185,183);
    text-decoration: line-through;
  }

  &:hover {
    color: rgb(134,133,148);
    cursor: pointer;
  }
}

/** FORMS **/
label {
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-menu {
  @extend %mono;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: $olive;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  text-align: left;
  max-width: 300px;
  padding-left: 0px;

  li {
      padding: 5px;
      opacity: .7;
      a {
        color: $olive-yellow;
      }
    &.active {
      background-color: $olive;
      color: $olive-yellow;
      opacity: 1;
    }
  }
}


@import "includes/responsive";
