@import "vendor/odometer-theme-car.css";
@import "vendor/bootstrap.min.css";
@import "includes/variables";
@import "includes/mixins";
@import "includes/css3-mixins";
@import "includes/flex";
@import "includes/buttons";

@import "pages/splash";
@import "pages/collectives";
@import "pages/corinthian";

@import "components/carousel";

::-webkit-input-placeholder,
:-moz-placeholder,  /* Firefox 18- */
::-moz-placeholder,  /* Firefox 19+ */
:-ms-input-placeholder{
  color: $light-text-color;
}

body {
  @extend %rale;
  background-color: $dark-background-color;
  color: $dark-text-color;
}

.container {
  margin-top: 50px;
}

.form-rest {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
 &.light {
    background-color: $light-background-color;
    color: black !important;
  }
}

.arrow-down-steep {
  background-image: url(../img/bg_arrow-down-steep.png);
  background-position: center bottom;
  padding-bottom: 210px;
  z-index: $z-index-arrow-down-steep;

  h1.header {
    text-align: center;
    margin-top: -61px !important;
    margin-bottom: 80px;
  }

  img.full-width {
    width: 100%;
  }
}

.arrow-up {
  background: transparent url(../img/bg_arrow-up.png) scroll no-repeat center top;
  z-index: $z-index-arrow-up;
  position: relative;
  padding-bottom: 250px;
}

section {
  width: 100%;
}

strong {
  font-weight: bold;
}

.small-italic-caption {
  margin-top: 20px;
  font-style: italic;
}

.caption {
  margin-bottom: -30px !important;
  text-align: center;
  width: 50%;
}

.body-text {
  p {
    a {  color: $link-color; }
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

hr {
  border-top: 1px solid white;
}

p, .body-text {
  @extend %rale;
  margin: 0px auto;
  font-size: 16px;
  line-height: 20px;

  &.special {
    font-size: 13px;
    line-height: 20px;
  }

  &.small {
    line-height: 20px;
    margin-top: 10px;
  }

  &.spaced {
    padding-bottom: 60px;
    a {
      h2 {
        margin-bottom: 0px;
      }
      text-decoration: none !important;
    }
  }
}

.spacer {
  padding-top: 30px;
}

.inside-container {
  padding-top: 2em;
}

.header-links {
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  width: 100%;
  z-index: $z-index-header;
  background-color: $off-grey;
  border-bottom: 1px solid $white-text-color;

  .navbar-toggle {
    background-color: $light-background-color;
    .icon-bar {
      background-color: $dark-background-color;
    }
  }

  &.inside-header {
    text-align: left;
    padding: 0px;
    .nav-link {
      line-height: 30px;
      padding-left: 15px;
    }
    .title {
      text-align: left;
      margin: 0px;
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $light-background-color;
     }
  }

  .splash-square {
    position: absolute;
    height: 92px;
    width: 92px;
    top: 16px;
  }

  &.scrolling {
    position: fixed;
    top: 0;
    right: 0;
    height: 32px;
    .splash-square {
      height: 20px;
      width: 20px;
    }
    .header-title {
      display: none;
    }
    a .logo.bar {
      display: inline-block !important;
    }
  }

  a {
    @extend %mono;
    color: $white-text-color;
    .logo {
      margin-right: 10px;
      &.bar { display: none; }
      &:hover { text-decoration: none; }
    }
    &:hover {
      color: $light-text-color;
    }
  }
}

.close-button {
  position: absolute;
  top: 10;
  right: 10;
  z-index: $z-index-close-button;
  @extend h1;
  color: white !important;
  background-color: $dark-background-color;
  &:hover {
    text-decoration: none !important;
  }
}

.header-title {
  text-align: center;
  overflow: auto;
  h1 {
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 0px;
  }
}

.forum-box {
  padding: 20px;
  border: 1px solid $dark-background-color;
  background-color: $light-background-color;
  color: $light-text-color;
}

.mono {
  @extend %mono;
}



h1 {
  @extend %rale;
  font-size: 38px;
  line-height: 38px;
  font-weight: 100;
  letter-spacing: -1px;
  margin-bottom: 5px;

  &.emphasis {
    font-size: 26px !important;
    line-height: 30px !important;
    font-weight: 100 !important;
  }

  &.floating-section-title {
    text-align: center;
  }

  .small {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    color: $white-text-color !important;
    text-decoration: none;
  }
}


h2 {
  @extend %rale;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 22px;
  letter-spacing: 2px;
  a {
    color: $link-color !important;
  }
  &.dark {
    color: $dark-background-color;
  }
  &.big {
    font-size: 40px;
  }
}


h3 {
  @extend %rale;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  a {
    color: $link-color !important;
  }
}

h4 {
  @extend %rale;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 44px;
}

h5 {
  @extend %rale;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

p.small {
  font-size: 13px;
}

.checkbox, h6 {
  @extend %rale;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}

.top-quote {
  padding: 4em;
  text-align: center;

  h1 {
    @extend %mono;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $light-text-color;
  }
}

.quote {
  @include transform(translateY(-25%));
  top: 25%;
  position: absolute;
  padding: 2em;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.floating {
  box-shadow: 2px 2px 6px 8px #3C3C3C;
  -moz-box-shadow: 2px 2px 6px 8px #3C3C3C;
  -webkit-box-shadow: 2px 2px 6px 8px #3C3C3C;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  color: $light-text-color;

  &.floating {
    padding: 60px 0px;
    margin: 60px auto;
    .body-text { max-width: 85%; }
    h3 { text-align: center; }
  }

  &.page {
    padding-top: 10px;
  }

  &.dark {
    color: $dark-text-color !important;
    background-color: $dark-background-color;
    h3 {
      color: $white-text-color;
      margin-top: 10px;
      margin-bottom: 22px;
    }
    a {
      color: $white-text-color;
    }
  }

  &.white {
    color: $dark-background-color;
    background-color: $white-text-color;
  }

  &.light {
    color:  $light-text-color;
    background-color: $light-background-color;
    .close-button {
      color: $light-text-color !important;
      background-color: $light-background-color;
    }
    h1 {
      color: $light-text-color;
    }
  }

}

.faq-continue {
  @extend %mono;
  text-align: center;
  a { color: $link-color; }
  margin-bottom: 60px;
}

/** TABS **/

.tabs {
  @include flexbox;

  .single-tab {
    @extend h2;
    width: 50%;
    background-color: $light-background-color;
    color: $light-text-color;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-transform: normal;
    border-top: 1px solid $off-grey;
    border-right: 1px solid $off-grey;

    &:hover {
      cursor: pointer;
    }

    &.white {
      background-color: white;
    }
  }

  .active {
    border-bottom: 1px solid $off-grey;
    background-color: #888 !important;

    a {
      color: $dark-text-color;
      &:hover {
        color: $light-text-color;
        cursor: pointer;
      }
    }
  }
}

.paper {
  padding: 0px;
  background: white;
  color: black;
  margin: 30px;
  border: 1px solid black;

  .signatures {
    font-size: 18px;
    padding-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white !important;
  }

}
.paper-bottom-form {
  border-top: 1px solid black;
  padding-top: 30px;
}
.letter-header {
  width: 130px;
  margin-left: 60px;
  margin-bottom: 80px;
  margin-top: 40px;
}


/** GENERAL **/
.fixed {
  position: fixed;
}

.hidden {
    display: none;
}

/** angular-bootstrap compliance **/
.nav, .pagination, .panel-title a {
    cursor: pointer;
}

.vertical-center {
    position: relative;
    top: 25%;
    @include transform(translateY(-50%));
    margin: auto;
}

a {
  color: #041a29;
  @include transition();

  &.active {
    color: rgb(172,185,183);
    text-decoration: line-through;
  }

  &:hover {
    color: rgb(134,133,148);
    cursor: pointer;
  }
}

.big-link {
  color: $pink-red !important;
  text-decoration: underline !important;
}

/** FORMS **/

label {
    font-weight: bold;
    text-transform: uppercase;
}

.dc-input {
  max-width: 100%;
  font-size: 20px;

  #receiver {
    text-align: center;
    padding: 10px;
  }

  form {
    @include frame-transition();
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}

//important tags b/c bootstrap
input, select {
  text-align: left;
  height: 44px;
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  @extend %input;
  font-size: 16px;
  letter-spacing: 2px;
}

input, textarea {
  border: 1px solid $dark-red !important;
  color: $dark-text-color;
  background-color: $olive;
}

select {
  border: 1px solid $olive;
  color: $light-background-color;
  font-weight: bold;
  background-color: rgb(53, 58, 56) !important;
  background-image: url(../img/select-righthand.png);
  background-repeat: no-repeat;
  background-position: right center;
}
select {
  $amount: 0px;
  border-radius: $amount !important;
  -moz-border-radius: $amount !important;
  -webkit-border-radius: $amount !important;
  -webkit-appearance: none;
}
.add-debt {
  float: right;
  &:hover {
    pointer: cursor;
  }
}

.debt-type-select {
  width: 75%;
  min-width: 165px;
}


.dropdown-menu {
  @extend %rale;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-index-dropdown;
  display: none;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: $olive;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  text-align: left;
  max-width: 300px;
  padding-left: 0px !important;

  li {
    padding: 5px;
    opacity: 1;
    list-style: none;
    a {
      color: $white-text-color;
    }
    &.active {
      background-color: $olive;
      color: $olive-yellow;
      opacity: 1;
    }
  }
}

/** MISC **/

.left {
  float: left;
}
.right {
  float: right;
}

.half {
  width: 49%;
}

.flex {
  @include flexbox;
}

.footer {
  background-color: $dark-blue;
  color: $dark-text-color;
  padding: 30px;
  margin-top: 60px;

  a {
    color: $dark-text-color;
    &:hover {
      color: $link-hover;
    }
  }
  li {
    margin-top: 10px;
  }
}

.footer-copyright {
  @extend %captionmono;
  font-size: 12px;
  color: $white-text-color;
}


.visible {
  display: block !important;
}


.thankyou-background {
  background: url(../img/blogbackground2.gif);
  height: 100%;
}

.smaller-logo {
  width: 90px;
  margin: 10px;
}


/** HUD **/

.hud {
  background-color: $light-background-color;
  @include flexbox;
  @include flex-direction(column);

  .top {
    height: 50%;
  }

  h1 {
    line-height: 64px;
  }
  h1.large {
    font-size: 70px;
  }

  div {
    text-align: center;
  }

  .half {
    background-color: $off-grey;
    position: relative;
    height: 100%;
    width: 49.6%;

    &:first-child {
      margin-right: 5px;
    }

    h1 {
      top: 50%;
      transform: translateY(-80%);
      position: relative;
    }
  }

  .full {
    padding: 20px;
    background-color: $off-grey;
    margin-top: 5px;
    width: 100%;
  }
}

.slider {
  padding: 40px 0px;
  .row {
    padding: 10px;
  }
}

.name-text {
  font-size: 105%;
}

.memorial-box {
  height: 80px;
  p {
    height: 50px;
    overflow: hidden;
    text-overflow: clip;
    font-size: 13px;
  }
}

.hud-display-background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index-hud-display-background;
  background-color: black;
  opacity: .9;
  display: none;
}

.hud-display {
  display: none;
  background-color: transparent !important;
  position: fixed !important;
  height: 100%;
  width: 100%;
  top: 50px;
  z-index: $z-index-hud-display;
  left: 50%;
  @include transform(translateX(-50%));

  .arrow-up {
    margin-top: -100px;
  }
  h3 {
    margin-top: 10px;
  }
  p {
    padding: 20px;
  }
  .img {
    text-align: center;
    max-height: 500px;
    min-height: 300px;
  }

  .content {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    color: $light-text-color;
  }
}

@import "includes/responsive";
