
@import "vendor/bootstrap.min.css";
@import "includes/variables";
@import "includes/mixins";
@import "includes/flex";
@import "includes/buttons";

@import "pages/splash";
@import "pages/corinthian";

@import "components/carousel";


::-webkit-input-placeholder,
:-moz-placeholder,  /* Firefox 18- */
::-moz-placeholder,  /* Firefox 19+ */
:-ms-input-placeholder{
  color: $light-text-color;
}

body {
    background-color: $dark-background-color;
    line-height: 1.6em;
    @extend %rale;
    font-size: 16px;
    color: $dark-text-color;
}

.form-rest {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.row {
  margin-left: 0px;
 margin-right: 0px;
}

.arrow-down-steep {
  background-image: url(/static/img/bg_arrow-down-steep.png);
  background-position: center bottom;
  padding-bottom: 210px;
  background-color: $dark-background-color !important;
  z-index: $z-index-arrow-down-steep;

  h2.first {
    margin-top: -20px !important;
  }
  .row.light {
    background-color: $light-background-color;
  }
  img.full-width {
    width: 100%;
  }
}

.arrow-up {
  background: transparent url(/static/img/bg_arrow-up.png) scroll no-repeat center top;
  z-index: -5;
  position: relative;
  padding-bottom: 250px;
  margin-top: -10px;
}

.arrow-top-heading {
  margin-bottom: 30px;
}


section {
  width: 100%;
}
.mono {
  @extend %mono;
}

strong {
  font-weight: bold;
}

.caption {
  font-size: 10px;
  line-height: 15px;
  padding-top: 40px;
  margin-bottom: -13px !important;
  text-align: center;
  &.main {
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0px;
    p {
      margin-bottom: 0px;
    }
  }
  &.sub {
    margin-bottom: -50px !important;
    font-style: italic;
  }
}
.body-text {
  p { margin-bottom: 22px; }
}
p, .body-text {
  @extend %rale;
  margin: 0px auto;
  font-size: 15.6px;
  line-height: 24px;
  letter-spacing: 1.25px;

  &.special {
    font-size: 13px;
    line-height: 20px;
  }
  &.small {
    line-height: 20px;
    margin-top: 10px;
  }

  &.mono {
    h1, h2, h6, p {
      @extend %mono;
      font-family: 'Cousine', serif;
    }
    h6 {
      margin-top: 6px;
      margin-bottom: 12px;
      line-height: 24px;
      text-transform: none;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
  }

  a {
    text-decoration: underline;
  }

  ul {
    padding-left: 40px;
  }
  li {
    list-style: initial;
  }

  &.map-body {
    margin-top: -78px;
    padding-top: 0;
  }

  .title-banner {
    text-align: center;
    padding-bottom: 22px;
  }

  &.wide {
    min-width: 820px;
    max-width: 950px;
  }
}

.spacer {
  padding-top: 30px;
}

.jumbotron {
  font-size: 48px;
  line-height: 50px;
}
.inside-container {
  padding-top: 2em;
}

.header-links {
  padding: 5.5px 15px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  z-index: 1000;
  width: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: $off-grey;
  border-bottom: 1px solid $link-color;

  &.inside-header {
    text-align: left;
    padding: 0px;
    .nav-link {
      line-height: 30px;
      padding-left: 15px;
    }
    .title {
      text-align: left;
      margin: 0px;
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $light-background-color;
     }
  }

  .splash-square {
    position: absolute;
    height: 92px;
    width: 92px;
    top: 16px;
  }

  &.scrolling {
    position: fixed;
    top: 0;
    right: 0;
    height: 32px;
    .splash-square {
      height: 20px;
      width: 20px;
    }
    .header-title {
      display: none;
    }
  }

  a.nav-link {
    @extend %mono;
    letter-spacing: 3px;
    color: $link-color;
    &:hover {
      color: $link-hover;
    }
  }
}

.forum-box {
  padding: 20px;
  border: 1px solid $dark-background-color;
  background-color: $light-background-color;
  color: $light-text-color;
}

$banner-height: 32px;
.banner {
  //@include frame-transition();
  z-index: 9999990;
  font-family: "Cutive mono";
  position: fixed;
  width: 100%;
  height: 88px;
  top: 0px;
  font-size: 18px;

  &.fadeIn,
  &:hover {
    top: $header-height;
  }

  .text {
    background-color: rgba(63,31,48,.80);
    height: $banner-height;
    text-align: center;
    margin: auto;
    padding: 5px;
  }

  a {
    color: #ccaa2d;
  }
}

.triangle-topright {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 120px 0;
  border-color: transparent #ff0000 transparent transparent;
}
.action-banner {
  float: right;
  color: $dark-text-color;
  position: absolute;
  top: 0;
  right: 0;

}
.action-banner-text {
  text-align: left;
  position: absolute;
  top: 10;
  right: 0;
  width: 80px;
}

h1 {
  @extend %mono;
  font-size: 26px;
  line-height: 30px;
  font-weight: 100;

  &.emphasis {
    font-family: "Cutive mono", serif !important;
    font-size: 26px !important;
    line-height: 30px !important;
    font-weight: 100 !important;
  }

  &.floating-section-title {
    text-align: center;
  }

  .small {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    color: $link-color !important;
    text-decoration: none;
  }
}


h2 {
  @extend %rale;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 22px;
  letter-spacing: 4.5px;
  &.dark {
    color: $dark-background-color;
  }
}


h3 {
  @extend %rale;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 28px;
}
h4 {
  @extend %rale;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}


h5 {
  @extend %rale;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

p.small {
  font-size: 13px;
}

.checkbox, h6 {
  @extend %rale;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.top-quote {
  padding: 4em;
  text-align: center;

  h1 {
    @extend %mono;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $light-text-color;
  }
}

.quote {
  transform: translateY(-25%);
  top: 25%;
  position: absolute;
  padding: 2em;
}

.centered {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  color: $light-text-color;

  &.page {
    padding-top: 10px;
  }

  &.dark {
    color: $dark-text-color !important;
    background-color: $dark-background-color;
    h3 {
      color: $link-color;
    }
    a {
      color: $link-color;
    }
  }

  &.light {
    color:  $light-text-color;
    background-color: $light-background-color;

    h1 {
      color: $light-text-color;
      border-bottom: $light-text-color 1px solid;
    }
  }

}

/** TABS **/

.tabs {
  @include flexbox;

  .single-tab {
    @extend h2;
    width: 50%;
    background-color: $light-background-color;
    color: $light-text-color;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-transform: normal;
    border-top: 1px solid $off-grey;
    border-right: 1px solid $off-grey;

    &:hover {
      cursor: pointer;
    }

    &.white {
      background-color: white;
    }
  }

  .active {
    border-bottom: 1px solid $off-grey;
    background-color: #888 !important;

    a {
      color: $dark-text-color;
      &:hover {
        color: $light-text-color;
        cursor: pointer;
      }
    }
  }
}

.paper {
  padding: 0px;
  background: white;
  color: black;

  .signatures {
    font-size: 18px;
    padding-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

}
.paper-bottom-form {
  border-top: 1px solid black;
  padding-top: 30px;
  background-color: white;
  padding-bottom: 60px;
}
.letter-header {
  width: 130px;
  margin-left: 60px;
  margin-bottom: 80px;
  margin-top: 40px;
}


/** GENERAL **/
.fixed {
  position: fixed;
}

.hidden {
    display: none;
}

/** angular-bootstrap compliance **/
.nav, .pagination, .panel-title a {
    cursor: pointer;
}

.vertical-center {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    margin: auto;
}

a {
  color: #041a29;
  @include transition();

  &.active {
    color: rgb(172,185,183);
    text-decoration: line-through;
  }

  &:hover {
    color: rgb(134,133,148);
    cursor: pointer;
  }
}

.big-link {
  color: $pink-red !important;
  text-decoration: underline !important;
}

/** FORMS **/

label {
    font-weight: bold;
    text-transform: uppercase;
}

.dc-input {
  width: 100%;
  font-size: 20px;

  #receiver {
    text-align: center;
    padding: 10px;
  }

  form {
    @include frame-transition();
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}

//important tags b/c bootstrap
input, select {
  text-align: left;
  height: 44px;
  padding: 10px;
}

input[type="text"], input[type="email"], select, textarea {
  @extend %input;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

input, textarea {
  border: 1px solid $dark-red !important;
  color: $dark-text-color;
  background-color: $olive !important;
}

select {
  border: 1px solid $olive;
  color: $olive;
  font-weight: bold;
  background-color: rgb(53, 58, 56) !important;
  background-image: url(/static/img/select-righthand.png);
  background-repeat: no-repeat;
  background-position: right center;
}
select {
  $amount: 0px;
  border-radius: $amount !important;
  -moz-border-radius: $amount !important;
  -webkit-border-radius: $amount !important;
  -webkit-appearance: none;
}
form {
  button[type=submit] {
    @extend h2;
    padding: 20px 0px;
    margin: 15px 0px;
    text-transform: uppercase;
  }
}

.add-debt {
  float: right;
  &:hover {
    pointer: cursor;
  }
}

.debt-type-select {
  width: 75%;
  min-width: 165px;
}


.dropdown-menu {
  @extend %rale;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: $olive;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  text-align: left;
  max-width: 300px;
  padding-left: 0px !important;

  li {
    padding: 5px;
    opacity: 1;
    list-style: none;
    a {
      color: $link-color;
    }
    &.active {
      background-color: $olive;
      color: $olive-yellow;
      opacity: 1;
    }
  }
}

/** MISC **/

.left {
  float: left;
}
.right {
  float: right;
}

.half {
  width: 49%;
}

.flex {
  @include flexbox;
}

.footer {
  background-color: $dark-blue;
  color: $dark-text-color;
  padding: 30px;
  margin-top: 60px;

  a {
    color: $dark-text-color;
    text-decoration: underline !important;
    &:hover {
      color: $link-hover;
    }
  }
  li {
    margin-top: 10px;
  }
}

.footer-copyright {
  @extend %captionmono;
  font-size: 12px;
  color: $link-color;
}


.visible {
  display: block;
}


.thankyou-background {
  background: url(/static/img/thankyou.png);
  height: 100%;
}

$counter-color: #001f28;

.counters {
  @include flexbox;
}
.counter-box {
  border: 1px solid $dark-background-color;
  background-color: $light-background-color;
  width: 50%;
  margin: 5px;
  img {
    padding: 20px;
  }
}
.counter-box-header {
  background-color: $counter-color;
}

.ticker-amount {
  color: white;
  margin-top: 0px;
  padding: 5px;
}
@import "includes/responsive";
