::-webkit-input-placeholder {
  color: #ccaa2d; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccaa2d; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccaa2d; }

:-ms-input-placeholder {
  color: #ccaa2d; }

.map-container {
  position: relative; }
  .map-container img {
    z-index: 10000; }
  .map-container .legend {
    position: absolute;
    bottom: 28px;
    left: -8px;
    width: 175px; }
  .map-container .map-banner {
    position: absolute;
    bottom: 0; }
  .map-container .compassrose {
    position: absolute;
    right: 0px;
    height: 250px; }

#corinthian .button, input[type="text"], input[type="email"], button, #corinthian input[type="text"], #corinthian input[type="email"], #corinthian button, body, .splash .splash-footer, .debt-total, .learnMore, .dropdown-menu {
  font-family: "Cutive mono", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px; }

#scroll .intro-text, .body-text, h1, h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

#corinthian article {
  font-family: "rooney-web", sans-serif;
  font-weight: 400; }

#corinthian .button, input[type="text"], input[type="email"], button, #corinthian input[type="text"], #corinthian input[type="email"], #corinthian button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 8px;
  border: 0;
  color: #b6bea7;
  text-decoration: none;
  position: relative;
  float: left; }
  #corinthian .button:hover, input[type="text"]:hover, input[type="email"]:hover, button:hover, #corinthian input[type="text"]:hover, #corinthian input[type="email"]:hover, #corinthian button:hover {
    background-color: #861800; }
  #corinthian .button:focus, input[type="text"]:focus, input[type="email"]:focus, button:focus, #corinthian input[type="text"]:focus, #corinthian input[type="email"]:focus, #corinthian button:focus {
    outline: 0px;
    outline-offset: 0px; }

#corinthian h1, #corinthian article h3 {
  font-family: "calluna", serif;
  font-weight: 600; }

#corinthian, #corinthian .questions, #corinthian article h2, #corinthian aside .button, #scroll, .wrapper article {
  font-family: "calluna-sans", sans-serif;
  font-weight: 600; }

#corinthian {
  background-color: #eee;
  border-top: 0.5em solid #3d72a6;
  font-size: 18px;
  padding-bottom: 2em; }
  #corinthian .wrapper {
    padding: 0 1em; }
  #corinthian header {
    background-color: #caced2;
    padding: 2.5em 0 1.5em;
    margin-bottom: 2em; }
    #corinthian header a {
      border-bottom-color: #bdc1c6; }
      #corinthian header a:hover {
        border-bottom-color: #afb4ba; }
  #corinthian h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #313539;
    letter-spacing: 0; }
  #corinthian .wrapper {
    max-width: 960px;
    background: none; }
  #corinthian a {
    color: #3d72a6;
    border-bottom: 0.15em solid #ddd;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    #corinthian a:hover {
      border-color: #ccc; }
  #corinthian .button {
    margin: 0;
    text-transform: uppercase;
    color: #fff; }
  #corinthian input[type="checkbox"], #corinthian input[type="radio"] {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    height: 1em;
    width: 1.25em; }
  #corinthian .questions p {
    text-indent: 0;
    margin-bottom: 1.25em; }
  #corinthian .questions li {
    background: #fff;
    padding: 1em;
    margin-bottom: 0.1em;
    text-indent: -1.75em;
    padding-left: 2.75em; }
    #corinthian .questions li:last-child {
      background: none; }
  #corinthian article {
    margin-top: 0; }
    #corinthian article h2 {
      margin: 0;
      text-align: left;
      font-weight: normal;
      font-size: 1.25em;
      margin-bottom: 1em;
      background: url(../img/highlight.png) no-repeat;
      background-size: 100% 1em;
      display: inline-block; }
    #corinthian article p {
      text-indent: 2em;
      margin-bottom: 0; }
    #corinthian article h3 {
      font-size: 1.33em;
      line-height: 1.2em;
      margin: 2em 0 0.5em;
      color: #2f5881; }
    #corinthian article h3 + p {
      text-indent: 0; }
  #corinthian aside {
    background-color: #3d72a6; }
  #corinthian aside .button {
    background-color: #2f5881;
    padding: 0.75em 1em;
    margin-top: 1em; }
    #corinthian aside .button:hover {
      color: #fff;
      background-color: #284c6e; }

@media screen and (max-width: 600px) {
  #corinthian {
    font-size: 17px;
    line-height: 1.5em; }
    #corinthian header {
      margin-bottom: 1em; }
    #corinthian h1 {
      font-size: 2em; }
    #corinthian article h2 {
      font-size: 1.1em; }
    #corinthian article, #corinthian aside {
      width: 100%; }
    #corinthian aside {
      margin-left: 0;
      margin-top: 2em; } }
button {
  text-align: center; }
  button:hover {
    opacity: .7; }

input[type="text"], input[type="email"], button {
  width: 100%;
  background-color: #861800; }

#corinthian input[type="text"], #corinthian input[type="email"], #corinthian button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
  background-color: rgba(17, 13, 33, 0.7); }

.signup-button {
  height: 70px; }

button {
  cursor: pointer; }

div {
  margin-top: 44px; }

body {
  background-color: #110d21;
  line-height: 1.6em;
  font-size: 16px; }

#scrollthing {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed;
  left: 0;
  height: 0;
  width: 2px;
  background-color: #acb9b7; }

.form-rest {
  visibility: hidden; }
  .form-rest.visible {
    visibility: visible; }

.splash {
  position: relative;
  text-align: center;
  height: 100%;
  background-color: #39413f; }
  .splash .splash-text {
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000; }
  .splash .splash-footer {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #868f94;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; }
    .splash .splash-footer:hover {
      opacity: .45; }

#scroll {
  color: #fff; }
  #scroll .intro-text {
    color: #acb9b7 !important;
    height: 100%;
    margin: auto;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    position: fixed;
    top: 0; }
    #scroll .intro-text .body-text {
      padding-top: 88px; }
      #scroll .intro-text .body-text .visible .pane {
        opacity: .8 !important; }
      #scroll .intro-text .body-text .slide {
        position: absolute; }
        #scroll .intro-text .body-text .slide .pane {
          opacity: .8;
          top: 44px;
          -webkit-transition: opacity 1s ease;
          -moz-transition: opacity 1s ease;
          -ms-transition: opacity 1s ease;
          -o-transition: opacity 1s ease;
          transition: opacity 1s ease; }
        #scroll .intro-text .body-text .slide span {
          opacity: 0; }
  #scroll .images {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
    height: 2900px;
    margin: auto; }
    #scroll .images.close .pane {
      opacity: 0; }
    #scroll .images div {
      opacity: 0;
      width: 100%;
      text-align: center;
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      transition: opacity 1s ease; }
    #scroll .images .pane {
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      transition: opacity 1s ease;
      top: 50%;
      width: 100%;
      position: fixed;
      opacity: .9;
      margin: auto;
      transform: translateY(-25%); }
      #scroll .images .pane .splash-square {
        opacity: 1;
        width: 245px;
        height: 245px;
        margin: auto; }
        #scroll .images .pane .splash-square.red {
          background-color: #eb1020; }
      #scroll .images .pane:nth-child(19), #scroll .images .pane:nth-child(20), #scroll .images .pane:nth-child(21), #scroll .images .pane:nth-child(22) {
        border-bottom: #333 1px solid; }

.anchor {
  position: absolute;
  padding-top: 44px; }

.twitter-timeline {
  position: absolute;
  top: 500px;
  left: 1px; }

#mapdiv {
  background-color: #110d21; }

.debt-total {
  text-align: center;
  font-size: 24px; }

.social-media {
  opacity: 0;
  position: fixed;
  width: 50px;
  height: 150px;
  left: 20;
  top: 200; }

.banner.fadeIn {
  opacity: 1;
  top: 32px; }

#scroll.mainstate .social-media {
  opacity: 0; }
#scroll.mainstate .nav-footer {
  bottom: -200px; }

section {
  width: 100%; }

.body-text {
  position: relative;
  margin: 0px auto;
  line-height: 34px; }
  .body-text.map-body {
    margin-top: -78px;
    padding-top: 0; }
  .body-text .title-banner {
    text-align: center;
    padding-bottom: 22px; }
  .body-text p {
    letter-spacing: 1.25px;
    margin-bottom: 22px; }

.banner {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999999;
  font-family: "Cutive mono";
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 88px;
  top: 0;
  font-size: 18px; }
  .banner .text {
    background-color: rgba(109, 15, 21, 0.65);
    height: 32px;
    text-align: center;
    margin: auto;
    padding: 5px; }
  .banner a {
    color: #ccaa2d; }
  .banner.openable {
    opacity: 0 !important;
    top: 0px !important; }
    .banner.openable:hover {
      top: 32px !important;
      opacity: 1 !important;
      height: 32px; }

.press-links {
  width: 100%;
  text-align: center; }
  .press-links img {
    margin: 10px; }

h1 {
  font-size: 46px;
  line-height: 46px;
  color: #feffe8;
  font-weight: 100;
  letter-spacing: 5px; }

h2 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 44px;
  text-transform: uppercase;
  letter-spacing: 4.5px; }
  h2:nth-child(0) {
    margin-top: 0px; }

.more.ng-hide {
  opacity: 0; }

.more {
  opacity: 1; }

.more.ng-hide-add.ng-hide-add-active,
.more.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.learnMore {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: #b6bea7 solid 1px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  color: #b6bea7; }
  .learnMore:hover {
    color: rgba(134, 143, 148, 0.8);
    border-color: rgba(134, 143, 148, 0.8); }

.wrapper {
  background-color: #39413f;
  position: relative;
  margin: 0 auto; }
  .wrapper.light {
    color: #39413f !important;
    background-color: rgba(254, 255, 232, 0.8); }
  .wrapper #join article div {
    margin: 1em 0; }
  .wrapper article {
    margin: 1em 0;
    width: 63%; }
    .wrapper article p {
      margin-bottom: 1em;
      max-width: 38em; }
  .wrapper article, .wrapper aside {
    display: inline-block;
    vertical-align: top; }

aside {
  width: 33%;
  margin-left: 3%;
  background-color: #eb1020;
  padding: 2em;
  color: #fff;
  line-height: 1.4em;
  font-size: 0.95em; }
  aside h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 0; }

div {
  max-width: 100%; }

/** HEADER **/
header {
  text-align: left; }

.hidden {
  display: none; }

.square {
  background-color: #9E2717;
  padding: 5px;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  z-index: 100; }

.header-text {
  font-size: 16px;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0; }

/** NAVIGATION **/
.navigation {
  border-bottom: 1px solid black;
  color: black; }

.nav-item {
  padding: 10px; }

/** GENERAL **/
.fixed {
  position: fixed; }

/** angular-bootstrap compliance **/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.vertical-center {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  margin: auto; }

.form.ng-hide-add.ng-hide-add-active,
.form.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.nav-footer {
  background-color: rgba(2, 2, 2, 0.8);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  color: #ccaa2d;
  z-index: 99999;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 266px;
  bottom: -266px; }
  .nav-footer input {
    color: #ccaa2d;
    text-align: left;
    height: 44px;
    border-bottom: 1px solid #ccaa2d;
    background-color: inherit !important; }
  .nav-footer.visible {
    bottom: 0px !important; }
  .nav-footer .dc-input {
    width: 100%;
    font-size: 20px; }
    .nav-footer .dc-input #receiver {
      text-align: center;
      padding: 5px; }
    .nav-footer .dc-input form {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }

.header-links {
  padding: 4.5px 15px;
  font-size: 16px;
  float: right;
  text-align: center;
  z-index: 1000;
  position: fixed;
  height: 32px;
  width: 100%;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #110d21;
  z-index: 9999999; }
  .header-links a {
    color: #39413f; }

a {
  text-decoration: none;
  color: #041a29;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  a.active {
    color: #acb9b7;
    text-decoration: line-through; }
  a:hover {
    color: #868594;
    cursor: pointer; }

/** FORMS **/
label {
  font-weight: bold;
  text-transform: uppercase; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: rgba(2, 2, 2, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  text-align: left;
  max-width: 300px;
  padding-left: 0px; }
  .dropdown-menu li {
    padding: 5px;
    opacity: .7; }
    .dropdown-menu li a {
      color: #ccaa2d; }
    .dropdown-menu li.active {
      background-color: rgba(2, 2, 2, 0.8);
      color: #ccaa2d;
      opacity: 1; }

.close-button {
  float: right;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer; }

#corinthian h1, #corinthian article h3 {
  font-family: "calluna", serif;
  font-weight: 600; }

#corinthian, #corinthian .questions, #corinthian article h2, #corinthian aside .button, #scroll, .wrapper article {
  font-family: "calluna-sans", sans-serif;
  font-weight: 600; }

#corinthian {
  background-color: #eee;
  border-top: 0.5em solid #3d72a6;
  font-size: 18px;
  padding-bottom: 2em; }
  #corinthian .wrapper {
    padding: 0 1em; }
  #corinthian header {
    background-color: #caced2;
    padding: 2.5em 0 1.5em;
    margin-bottom: 2em; }
    #corinthian header a {
      border-bottom-color: #bdc1c6; }
      #corinthian header a:hover {
        border-bottom-color: #afb4ba; }
  #corinthian h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #313539;
    letter-spacing: 0; }
  #corinthian .wrapper {
    max-width: 960px;
    background: none; }
  #corinthian a {
    color: #3d72a6;
    border-bottom: 0.15em solid #ddd;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    #corinthian a:hover {
      border-color: #ccc; }
  #corinthian .button {
    margin: 0;
    text-transform: uppercase;
    color: #fff; }
  #corinthian input[type="checkbox"], #corinthian input[type="radio"] {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    height: 1em;
    width: 1.25em; }
  #corinthian .questions p {
    text-indent: 0;
    margin-bottom: 1.25em; }
  #corinthian .questions li {
    background: #fff;
    padding: 1em;
    margin-bottom: 0.1em;
    text-indent: -1.75em;
    padding-left: 2.75em; }
    #corinthian .questions li:last-child {
      background: none; }
  #corinthian article {
    margin-top: 0; }
    #corinthian article h2 {
      margin: 0;
      text-align: left;
      font-weight: normal;
      font-size: 1.25em;
      margin-bottom: 1em;
      margin-top: 1em;
      background: url(../img/highlight.png) no-repeat;
      background-size: 100% 1em;
      display: inline-block; }
    #corinthian article p {
      text-indent: 2em;
      margin-bottom: 0; }
    #corinthian article ul.list {
      list-style: initial; }
      #corinthian article ul.list li {
        margin-left: 25px; }
    #corinthian article h3 {
      font-size: 1.33em;
      line-height: 1.2em;
      margin: 2em 0 0.5em;
      color: #2f5881; }
    #corinthian article h3 + p {
      text-indent: 0; }
  #corinthian aside {
    background-color: #3d72a6; }
  #corinthian aside .button {
    background-color: #2f5881;
    padding: 0.75em 1em;
    margin-top: 1em; }
    #corinthian aside .button:hover {
      color: #fff;
      background-color: #284c6e; }

.lendyour {
  text-align: center; }
  .lendyour p {
    text-align: center; }
  .lendyour img {
    width: 400px; }
  .lendyour iframe {
    width: 100%; }

@media screen and (max-width: 600px) {
  #corinthian {
    font-size: 17px;
    line-height: 1.5em; }
    #corinthian header {
      margin-bottom: 1em; }
    #corinthian h1 {
      font-size: 2em; }
    #corinthian article h2 {
      font-size: 1.1em; }
    #corinthian article, #corinthian aside {
      width: 100%; }
    #corinthian aside {
      margin-left: 0;
      margin-top: 2em; } }
@media (min-width: 2500px) {
  .wrapper {
    max-width: 56.5%; }

  .body-text {
    max-width: 39.4%; } }
@media (min-width: 1130px) and (max-width: 2500px) {
  .wrapper {
    max-width: 93.75%; }

  .body-text {
    max-width: 64%; } }
@media (min-width: 768px) and (max-width: 1130px) {
  .wrapper {
    max-width: 100%; }

  .body-text {
    max-width: 65.75%; } }
@media only screen and (max-device-width: 768px) {
  .body-text {
    width: 473px;
    max-width: 100%; }

  .social-media {
    opacity: 0 !important; } }
.mobile-only {
  display: none; }

@media only screen and (max-width: 600px) {
  .mobile-only {
    display: visible; }

  .banner .text {
    height: 100%; }

  .map-container img {
    left: 50% !important;
    transform: translateX(-50%); }
  .map-container .compassrose {
    top: -250px; }
  .map-container .map-banner {
    top: 50px; }

  .body-text.map-body {
    margin-top: 29px !important; }

  .wrapper {
    max-width: 100%; }

  .hidden-mobile {
    display: none; }

  .header-links {
    height: initial; }

  .body-text {
    padding: 0px 6px;
    width: 100%; }

  .social-media {
    opacity: 0 !important; } }
