@import url(vendor/bootstrap.css);
.btn, .tweet-box .tweet-btn, input[type="text"], input[type="email"], .tweet-box .tweet-text, .nav-footer, .splash .splash-footer, .intro-text p, .debt-total, .testimonial-top, .carousel .content-overlay-box .person-info, body, .top-quote h1, .dropdown-menu {
  font-family: "Cutive mono", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px; }

p, .body-text, h1, h2, .tabs .single-tab, h3 {
  font-family: "Raleway", sans-serif; }

.btn, .tweet-box .tweet-btn, input[type="text"], input[type="email"] {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 8px;
  width: 100%;
  border: 0;
  text-decoration: none; }
  .btn:focus, .tweet-box .tweet-btn:focus, input[type="text"]:focus, input[type="email"]:focus {
    outline: 0px;
    outline-offset: 0px; }

.btn, .tweet-box .tweet-btn {
  cursor: pointer;
  text-align: center;
  margin-top: 4px; }

.close-button {
  float: right;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer; }

.action-button {
  padding: 20px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px; }
  .action-button.hover {
    background-color: #39413f;
    color: #f1eee2; }

.btn {
  min-width: 150px;
  background-color: #C4C2B2;
  color: #39413f; }
  .btn.btn-red {
    background-color: #861800;
    color: #b6bea7; }
  .btn.btn-primary {
    height: 70px;
    color: #b6bea7;
    background-color: #861800; }

.sm-button {
  padding-bottom: 50px; }

.tweet-box {
  border-radius: 6;
  -moz-border-radius: 6;
  -webkit-border-radius: 6;
  border: 1px solid #f1eee2;
  margin: 15px;
  padding: 10px;
  background: transparent;
  width: 100%; }
  .tweet-box h1 {
    text-align: center;
    margin: 22px 0px; }
  .tweet-box .tweet-text {
    color: #f1eee2;
    width: 100%;
    line-height: 30px;
    letter-spacing: 0px;
    padding: 5px;
    margin-bottom: 0px; }
  .tweet-box:hover {
    cursor: pointer;
    border-color: #eb1020; }
    .tweet-box:hover .tweet-btn {
      color: #39413f; }
  .tweet-box .tweet-btn {
    width: 30px; }

/** NAVIGATION **/
.navigation {
  border-bottom: 1px solid black;
  color: black; }

.nav-item {
  padding: 10px; }

.nav-footer {
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  border-top: 1px solid #f1eee2;
  z-index: 100;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 280px;
  bottom: -280px;
  color: white;
  background-color: #39413f; }
  .nav-footer:not(.visible) .close-button {
    display: none; }
  .nav-footer.visible {
    bottom: 0px !important; }

.dc-input {
  width: 100%;
  font-size: 20px; }
  .dc-input #receiver {
    text-align: center;
    padding: 10px; }
  .dc-input form {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; }

.press-links {
  width: 100%;
  text-align: center; }
  .press-links img {
    width: 200px;
    margin: 10px; }

.social-links {
  text-align: center; }
  .social-links img {
    width: 300px;
    padding-left: 10px; }

.manifesto {
  text-align: left; }
  .manifesto .btn {
    height: 70px; }

.rest-of-splash-page {
  display: none; }

.splash {
  position: relative;
  text-align: center;
  height: 100%;
  background-color: #39413f; }
  .splash .splash-text {
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000; }
  .splash .splash-footer {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; }
    .splash .splash-footer:hover {
      opacity: .45; }

.intro-text {
  padding: 20px;
  color: #f1eee2; }
  .intro-text p {
    padding: 20px;
    font-size: 24px;
    text-align: center; }

#scroll.mainstate .social-media {
  opacity: 0; }
#scroll.mainstate .nav-footer {
  bottom: -214px; }

.images {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  height: 2900px;
  margin: auto; }
  .images.close .pane {
    opacity: 0; }
  .images div {
    opacity: 0;
    width: 100%;
    text-align: center; }
  .images .pane {
    top: 50%;
    width: 100%;
    position: fixed;
    opacity: .9;
    margin: auto;
    transform: translateY(-25%); }
    .images .pane:nth-child(19), .images .pane:nth-child(20), .images .pane:nth-child(21), .images .pane:nth-child(22) {
      border-bottom: #333 1px solid; }

.splash-square {
  opacity: 1;
  width: 245px;
  height: 245px;
  margin: auto; }
  .splash-square.red {
    background-color: #eb1020; }

#scrollthing {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed;
  left: 0;
  height: 0;
  width: 2px;
  background-color: #acb9b7; }

#mapdiv {
  width: 100%;
  height: 400px;
  background-color: #C4C2B2; }

.debt-total {
  text-align: center;
  font-size: 24px;
  letter-spacing: 4px; }

.social-media {
  opacity: 0;
  position: fixed;
  width: 50px;
  height: 150px;
  left: 20;
  top: 200; }

.map-container {
  position: relative; }
  .map-container .legend {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%); }

.splash-bottom-quote {
  margin-top: -25px; }

/* stats section */
#stats #number {
  line-height: 130px;
  border-top: 1px dotted #f1eee2;
  border-bottom: 1px dotted #f1eee2; }
  #stats #number img {
    padding-top: 25px;
    padding-bottom: 25px; }
#stats .vis {
  border-right: 1px dotted #f1eee2;
  margin: 20px 0; }
#stats .row .col-md-4:last-child .vis {
  border: none; }

/* jquery odometer counter */
.counter-container {
  height: 55px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f1eee2;
  border-radius: 2px;
  background-image: url("../img/jodometer-background.jpg");
  background-repeat: repeat-x;
  width: 288px;
  margin: 0 auto; }

.counter {
  width: 100%;
  height: 55px;
  overflow: hidden;
  position: relative;
  background-color: transparent; }

.counter-text {
  font-size: 20px;
  line-height: 1em;
  font-weight: normal; }
  .counter-text.pre {
    font-size: 40px;
    margin: 50px 0 30px; }
  .counter-text.post {
    margin: 20px 0 40px; }

#corinthian .intro {
  background-color: #110d21;
  padding: 2em;
  color: #acb9b7 !important; }
  #corinthian .intro p {
    margin: 44px 22px; }
  #corinthian .intro a {
    text-decoration: underline;
    color: #acb9b7 !important; }

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .tabs .single-tab {
    width: 50%;
    font-size: 32px;
    padding: 10px;
    margin-top: 0px !important;
    text-transform: normal; }
  .tabs .front {
    border-top: 1px solid #39413f;
    border-right: 1px solid #39413f; }
  .tabs .back {
    border-bottom: 1px solid #39413f;
    background-color: #888; }
    .tabs .back a {
      color: #f1eee2; }
      .tabs .back a:hover {
        color: #39413f;
        cursor: pointer; }

.student-form .close-button {
  display: none !important; }

.splash.corinthian {
  color: #f1eee2; }

.corinthian-title {
  padding-top: 44px;
  text-align: center; }

.testimonial-top {
  font-size: 20px;
  padding: 25px 0px; }

hr {
  border-top: 1px solid rgba(134, 143, 148, 0.8);
  margin: 2px; }

.profiles {
  position: relative;
  background-color: #f1eee2;
  padding: 0px 35px; }

.progress-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  padding-bottom: 18px; }

.manifesto {
  width: 100%;
  text-align: justify;
  margin-right: 20px; }

.manifesto-buttons {
  width: 30%;
  max-width: 170px; }
  .manifesto-buttons img {
    margin-bottom: 20px;
    margin-left: 20px; }

/** HUD **/
.hud {
  background-color: #f1eee2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hud .top {
    height: 50%; }
  .hud h1 {
    line-height: 64px; }
  .hud h1.large {
    font-size: 70px; }
  .hud div {
    text-align: center; }
  .hud .half {
    background-color: #39413f;
    position: relative;
    height: 100%;
    width: 49.6%; }
    .hud .half:first-child {
      margin-right: 5px; }
    .hud .half h1 {
      top: 50%;
      transform: translateY(-80%);
      position: relative; }
  .hud .full {
    padding: 20px;
    background-color: #39413f;
    margin-top: 5px;
    width: 100%; }

.hud-display-background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  background-color: black;
  opacity: .9;
  display: none; }

.hud-display {
  display: none;
  position: fixed !important;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 102;
  background-color: #f1eee2;
  left: 50%;
  transform: translateX(-50%); }
  .hud-display h3 {
    margin-top: 10px; }
  .hud-display p {
    padding: 20px; }
  .hud-display .img {
    text-align: center; }
  .hud-display .info {
    overflow-y: auto;
    height: 100%;
    position: absolute; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 20px; }
  .item:hover {
    cursor: pointer;
    background-color: #baafb3; }
  .item .img {
    margin: auto; }
  .item .info {
    font-weight: bold;
    padding: 10px; }
    .item .info h3 {
      margin-top: 0px; }

/** carousel **/
.carousel .title {
  text-align: center; }
.carousel .items {
  position: relative;
  height: 520px; }
.carousel .count {
  bottom: 0;
  position: absolute;
  right: 0; }
.carousel .content-overlay-box {
  background-color: black;
  width: 50%;
  height: 50%;
  opacity: .5;
  color: white;
  float: right;
  padding: 20px; }
  .carousel .content-overlay-box p {
    padding-top: 5px; }
.carousel .content {
  height: 500px;
  background-size: 100%;
  padding: 15px;
  width: 100%;
  background-repeat: no-repeat; }
.carousel .item {
  width: 100%;
  position: absolute;
  top: 0;
  visibility: hidden; }
  .carousel .item.visible {
    visibility: visible !important; }
.carousel .turner {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 5px;
  cursor: pointer;
  width: 65px;
  margin-right: 4px;
  float: right; }
.carousel .text {
  position: relative;
  max-height: 600px; }
  .carousel .text p {
    font-size: 13px;
    line-height: 19px; }
.carousel .image {
  float: left;
  width: 60%;
  margin-right: 10px;
  margin-bottom: 10px; }

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #39413f; }

body {
  background-color: #39413f;
  line-height: 1.6em;
  font-size: 16px;
  color: #f1eee2; }

.form-rest {
  visibility: hidden; }
  .form-rest.visible {
    visibility: visible; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.arrow-down-steep {
  background-image: url(/static/img/bg_arrow-down-steep.png);
  background-position: center bottom;
  padding-bottom: 210px;
  margin-bottom: -50px !important;
  background-color: #39413f !important; }

.arrow-up {
  background: transparent url(/static/img/bg_arrow-up.png) scroll no-repeat center top;
  z-index: 5;
  position: relative;
  padding-bottom: 250px;
  margin-top: -10px; }

section {
  width: 100%; }

p, .body-text {
  margin: 0px auto;
  line-height: 28px; }
  p .centered-body-text-image, .body-text .centered-body-text-image {
    text-align: center;
    padding-bottom: 22px; }
  p a.underline, .body-text a.underline {
    text-decoration: underline; }
  p ul, .body-text ul {
    padding-left: 40px; }
  p li, .body-text li {
    list-style: initial; }
  p.map-body, .body-text.map-body {
    margin-top: -78px;
    padding-top: 0; }
  p .title-banner, .body-text .title-banner {
    text-align: center;
    padding-bottom: 22px; }
  p p, .body-text p {
    letter-spacing: 1.25px;
    margin-bottom: 22px; }
  p.wide, .body-text.wide {
    min-width: 820px;
    max-width: 950px; }

.visible {
  display: block; }

.header-title {
  padding: 20px; }

.header-links {
  padding: 5.5px 15px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1000;
  width: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: #39413f;
  border-bottom: 1px solid #313539; }
  .header-links .splash-square {
    position: absolute;
    height: 92px;
    width: 92px;
    top: 16px; }
  .header-links.scrolling {
    position: fixed;
    top: 0;
    right: 0;
    height: 32px; }
    .header-links.scrolling .splash-square {
      height: 20px;
      width: 20px; }
    .header-links.scrolling .header-title {
      display: none; }
  .header-links a.nav-link {
    letter-spacing: 3px;
    color: #baafb3; }
    .header-links a.nav-link:hover {
      color: #f7f7ed; }

.banner {
  z-index: 9999990;
  font-family: "Cutive mono";
  position: fixed;
  width: 100%;
  height: 88px;
  top: 0px;
  font-size: 18px; }
  .banner.fadeIn, .banner:hover {
    top: 32px; }
  .banner .text {
    background-color: rgba(63, 31, 48, 0.8);
    height: 32px;
    text-align: center;
    margin: auto;
    padding: 5px; }
  .banner a {
    color: #ccaa2d; }

h1 {
  font-size: 28px;
  line-height: 28px;
  color: #feffe8;
  font-weight: 100;
  letter-spacing: 5px; }
  h1.floating-section-title {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 20px !important; }
    h1.floating-section-title:first-child {
      border-top: #39413f 1px solid; }
  h1 .small {
    font-size: 16px;
    line-height: 24px; }
  h1 a {
    color: #C4C2B2 !important;
    text-decoration: none; }

.top-quote {
  padding: 4em;
  text-align: center; }
  .top-quote h1 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #39413f; }

.quote {
  transform: translateY(-25%);
  top: 25%;
  position: absolute;
  padding: 2em; }

.centered {
  text-align: center; }

h2, .tabs .single-tab {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 44px;
  text-transform: uppercase;
  letter-spacing: 4.5px; }

h3 {
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 22px;
  margin-top: 44px;
  letter-spacing: 4.5px; }

.wrapper {
  color: #39413f;
  background-color: #39413f;
  position: relative;
  margin: 0 auto; }
  .wrapper.page {
    padding-top: 10px; }
  .wrapper.light {
    color: #39413f;
    background-color: #f1eee2; }
    .wrapper.light h1 {
      color: #39413f;
      border-bottom: #39413f 1px solid; }

/** GENERAL **/
.fixed {
  position: fixed; }

.hidden {
  display: none; }

/** angular-bootstrap compliance **/
.nav, .pagination, .panel-title a {
  cursor: pointer; }

.vertical-center {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  margin: auto; }

a {
  text-decoration: none !important;
  color: #041a29;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  a.active {
    color: #acb9b7;
    text-decoration: line-through; }
  a:hover {
    color: #868594;
    cursor: pointer; }

/** FORMS **/
label {
  font-weight: bold;
  text-transform: uppercase; }

form input {
  color: #f1eee2;
  text-align: left;
  height: 44px;
  border-bottom: 1px solid #f1eee2 !important;
  background-color: inherit !important; }

.add-debt {
  float: right; }
  .add-debt:hover {
    pointer: cursor; }

select {
  color: #39413f;
  background-color: inherit !important; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: rgba(2, 2, 2, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  text-align: left;
  max-width: 300px;
  padding-left: 0px !important; }
  .dropdown-menu li {
    padding: 5px;
    opacity: .7;
    list-style: none; }
    .dropdown-menu li a {
      color: #ccaa2d; }
    .dropdown-menu li.active {
      background-color: rgba(2, 2, 2, 0.8);
      color: #ccaa2d;
      opacity: 1; }

/** MISC **/
.left {
  float: left; }

.right {
  float: right; }

.half {
  width: 49%; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.footer {
  background-color: #39413f; }

@media (min-width: 2500px) {
  .wrapper {
    max-width: 56.5%; }

  .body-text {
    max-width: 39.4%; } }
@media (min-width: 1130px) and (max-width: 2500px) {
  .wrapper {
    max-width: 93.75%; }

  .body-text {
    max-width: 64%; }

  .carousel {
    max-width: 75%;
    margin: auto; } }
@media (min-width: 768px) and (max-width: 1130px) {
  .wrapper {
    max-width: 100%; }

  .content-overlay-box {
    height: 75%; }

  .body-text {
    max-width: 65.75%; } }
@media only screen and (max-width: 768px) {
  .body-text {
    width: 473px;
    max-width: 100%; }

  .social-media {
    opacity: 0 !important; } }
.mobile-only {
  display: none; }

@media only screen and (max-width: 600px) {
  .body-text.wide {
    max-width: 100%;
    min-width: 100%; }

  .press-links img {
    width: initial; }

  .thankyou-background {
    background-size: 100%; }

  .profiles .item {
    display: block; }
    .profiles .item .img {
      text-align: center; }
    .profiles .item .info {
      width: 100%; }

  .manifesto {
    width: 100%; }

  .flex {
    display: block; }

  .manifesto-buttons {
    width: 100%;
    max-width: initial; }

  #corinthian .intro p {
    margin: 44px 0px; }

  .hearing div {
    margin-bottom: 20px; }
  .hearing .tweet-buttons {
    float: right; }
  .hearing .timeline {
    float: left;
    margin-bottom: 100px; }

  .button, button {
    margin: 0px; }

  .splash-square {
    width: 200px;
    height: 200px; }

  ul {
    padding-left: 0px !important; }

  h1 {
    font-size: 23px; }

  .nav-footer.visible:not(.focused) {
    top: 0px; }

  .close-button.visible:not(.focused) {
    display: none !important; }

  .banner .text {
    height: 100%; }

  .header-links {
    height: initial; }

  .slide {
    padding: 3px; }

  .images .pane {
    top: 65%; }

  .wrapper {
    max-width: 100%; }

  .body-text:not(.wide) {
    padding: 0px 6px;
    width: 100%; }

  .map-container .compassrose {
    width: 141px;
    height: initial; }
  .map-container .map-banner {
    bottom: 25px; }

  .body-text.map-body {
    margin-top: 29px !important; }

  .half {
    width: 100% !important; }

  .quote {
    line-height: initial;
    padding: 2px; }

  .hidden-mobile {
    display: none; }

  .mobile-only {
    display: block; } }

/*# sourceMappingURL=base.css.map */
