%calluna {
    font-family: "calluna", serif;
    font-weight: 600;
}

%sans {
    // font-family: "camingodos-web", sans-serif;
    font-family: "calluna-sans", sans-serif;
    font-weight: 600;
}


#corinthian {
	background-color: #eee;
	border-top: 1em solid $dark-red;
	@extend %sans;
	font-size: 18px;


	h1 {
		@extend %calluna;
		font-size: 2.5em;
		padding: 2em 0 1em;
		color: $dark-grey;
		letter-spacing: 0;
	}

	.wrapper {
		max-width: 960px;
		background: none;
	}

	.button {
		@extend %button;
		margin: 0;
		text-transform: uppercase;
	}

	input[type="checkbox"] {
		display: inline-block;
		margin-right: 0.5em;
		vertical-align: middle;
		height: 1em;
		width: 1.25em;
	}

	.questions {
		@extend %sans;

		p {
			text-indent: 0;
			margin-bottom: 1.25em;
		}

		li {
			background: #fff;
			padding: 1em;
			margin-bottom: 0.1em;
			text-indent: -1.75em;
			padding-left: 2.75em;
		}
	}

	article {
		@extend %serif;
		margin-top: 0;

		p {
			text-indent: 2em;
			margin-bottom: 0;
		}

		h3 {
			@extend %calluna;
			font-size: 1.33em;
			line-height: 1.2em;
			margin: 2em 0 0.5em;
			color: $light-red;
		}

		h3 + p {
			text-indent: 0;
		}
	}

	aside {
		background-color: $fb-blue;
	}

	aside .button {
		background-color: darken($fb-blue, 10%);
		padding: 0.75em 1em;
		margin-top: 1em;
		@extend %sans;

		&:hover {
			color: #fff;
			background-color: darken($fb-blue, 15%);
		}
	}
}


@media screen and (max-width: 600px) {
	
#corinthian {
	article, aside {
		width: 100%;
	}
}
		
}