@media (min-width: 2500px) {
  .wrapper {
    max-width: 56.5%; }

  .body-text {
    max-width: 39.4%; } }
@media (min-width: 1130px) and (max-width: 2500px) {
  .wrapper {
    max-width: 93.75%; }

  .body-text {
    max-width: 64%; } }
@media (min-width: 768px) and (max-width: 1130px) {
  .wrapper {
    max-width: 100%; }

  .body-text {
    max-width: 65.75%; } }
@media only screen and (max-device-width: 768px) {
  .body-text {
    width: 473px;
    max-width: 100%; }

  .social-media {
    opacity: 0 !important; } }
@media only screen and (max-width: 600px) {
  .wrapper {
    max-width: 100%; }

  .hide-mobile {
    display: none; }

  .header-links {
    height: initial; }

  .banner a {
    font-size: 8px; }

  .body-text {
    margin: 6px;
    width: 100%; }

  .social-media {
    opacity: 0 !important; } }
