footer {
  padding: 10px;
  color: rgba(255,255,255,.7);
  position: absolute;
  bottom: 0;
  right: 0;
}

span.small {
  vertical-align: text-top;
  font-size: 20px;
}

header {
  text-align: left;
  background-color: #9E2717;
  padding: 5px;
  width: 200px;
  height: 200px;
  position: relative;
}

.header-text {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  margin: 0px 0px 10px 10px;
}

input, button {
  font-family: 'Inconsolata',  serif;
}

body {
  font-family: 'Inconsolata', serif;
  font-weight: 100;
  background-color: #39413F;
  color: rgba(255, 255, 255, .7);
}

a {
  text-decoration: none;
  color: rgba(255,255,255,.7);
}

a:hover {
  color: rgba(255,255,255,.5);
}

.wrapper {
  margin: auto;
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.signup-form {
  position: relative;
  text-align: left;
  width: 400px;
  margin: auto;
  position: relative;
}

.dc-input {
  padding-left: 5px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}

input {
  background-color: #9E2717;
  color: rgba(255, 255, 255, .7);
  border: 0px;
  padding: 10px;
  font-size: 1.5em;
}

button[type="submit"] {
  background-color: #9E2717;
  color: rgba(255, 255, 255, .7);
  border: 0px;
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #520D02;
}

input:focus {
  background-color: #520D02;
  border: 0px;
  outline: 0px;
}

