{% extends "proj/base_template.html" %}

{% block body %}

{% include "proj/insideHeader.html" with title='DTR ADMIN' %}


<div class="flex">
  <div class="container inside-container">
    <div class="wrapper arrow-up"></div>
    <div class="wrapper light arrow-down-steep centered">
      <div class="row">
        <h2 class="large-text">{{dtr_total}} forms</h2>
        <p class="body-text">Don't press the following buttons until you're ready. It might take up to an hour for all forms to be zipped. Let krmckelv@gmail.com know if you have any problems.</p>
        <div class="dc-input">
          <a class="btn btn-primary" href="/corinthian/dtr_csv"><h2>EXPORT METADATA AS CSV</h2></a>
        </div>
        <p>
          Don't forget to <a href="/logout">logout</a> when you're done.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}