  <div class="dc-input">
    <form ng-show="!formSubmitted" class="form"
    target="receiver"
    action="//strikedebt.createsend.com/t/j/s/nuriti/"
    method="post" ng-submit="onSubmitClick($event)">

    <input type="text" id="name" name="cm-name"  ng-model="name"
      placeholder="sign your name here"
      required autocomplete="off" />

    <input type="email" id="email" name="cm-nuriti-nuriti"  ng-model="email"
      placeholder="enter your email..."
      required />

      <div class="checkbox">
        <label>
          <input type="checkbox" id="everestcheck" ng-model="corinthianStudent">
          <label class="checkLabel" for="everestcheck"></label>
          <div class="help-text"><strong>I have student debt from Everest, Heald or Wyotech.</strong> I want to join the fight against these assholes.</div>
        </label>
      </div>
    <button type="submit" name="submit"
      class="btn btn-primary">sign up to fight back</button>
  </form>
</div>
