{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}

{% include "proj/insideHeader.html" with title='KNOW YOUR STUDENT DEBT' %}

<div class="container inside-container">
  <div class="wrapper light">
  <div class="row">
    <div class="body-text">
      <div class="spacer"></div>
      <h2>OVERVIEW</h2>
      <h4>
        <ol>
          <li>Go to the <a href="https://www.nslds.ed.gov/nslds_SA/secure/SaFinPrivacyAccept.do" target="_blank">NSLDS student loan database</a>
          </li>
          <li>Enter your personal details. If you don't have a PIN, see the below PDF for more detailed instructions</li>
          <li>On the NSLDS page, there is also an option to download a text file with all of your loan data. Please download the file and save it</li>
          <li>Once you have located your data, fill out <a href="https://drive.google.com/file/d/0B2DwUnbvy-RzMm1USlRQZ1dNYWtQMEdTZHpBRm1pckhwZEZB/view?usp=sharing">this form with as much information as possible</a></li>
        </ol>
      </h4>
      <div class="spacer"></div>
    <h2>DETAILED INSTRUCTIONS</h2>
      <p><a href="https://drive.google.com/file/d/0B2DwUnbvy-RzNzdXM25peUJ3TlQ1OWVVUERhbWNZUmxHT2hN/view?usp=sharing">Click here to download the following document.</a></p>
    </div>
  </div>
<div class="centered">
   <iframe width="100%" height="100%" src="https://docs.google.com/document/d/1uOZhh_HZVG6A-7_DxDMpmLgb_y5QtmGIOHuPwsesKT8/pub?embedded=true"></iframe>
</div>
  </div>

</div>

<!--<div class="container inside-container">
  <div class="wrapper dark">

  </div>
</div>-->
{% endblock %}





