{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}

<div class="container">
  <div class="wrapper arrow-down-steep">
    <div class="row">
      <div class="centered body-text">
        <img class="smaller-logo" src="/static/img/strikers/CorinthianDC-Logo-NoType_BeigeMatte.png" />
      </div>
      <div class="body-text">
        <h2>We are the Corinthian Collective. We believe that all current and former students of Corinthian Colleges deserve to have their debts cancelled. </h2>
        <p> Corinthian Colleges has been accused by several state and federal government agencies of fraud and predatory lending, yet the Department of Education continues to collect on Corinthian students’ debts. Join the Corinthian Collective to fight back against Corinthian and the Department of Education.</p>
        <p>By collectively refusing to pay their loans, the <a href="/studentstrike">corinthian strikers</a> are fighting for all student debtors. </p>

        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <button type="submit" ng-show="!corithianSignupFormShown" ng-click="corithianSignupFormShown = true" class="btn btn-primary">JOIN</button>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <a ng-click="supportVisible = true" ng-show="!corithianSignupFormShown" class="btn btn-primary">SUPPORT</a>
        </div>
      </div>

      <div class="row light" ng-show="corithianSignupFormShown">
        <div class="body-text">
          <corinthian-signup-form></corinthian-signup-form>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper dark">
    <div class="row">
      {% include "collectives/action_cards.html" with actions=actions %}
    </div>
  </div>

    <div class="wrapper arrow-up" id="whathappens"></div>
    <div class="wrapper arrow-down-steep">
      <div class="row centered">
        <h1 class="header">FAQ</h1>
      </div>
      <div class="row">
        <div class="body-text">
        <h3 >What is a strike?</h3>
          <p>
            <a href="/studentstrike">Corinthian students are currently involved in a student debt strike</a>. A student debt strike is a collective commitment to not pay student loans. The goal of the strike is to join together to put pressure on lenders and the Department of Education to cancel your loans. Corinthian students are in a particularly good position to demand debt relief since their school has been accused of fraud and predatory lending.
          </p>
          <p><a ng-click="corithianSignupFormShown = true">Join the strike.</a></p>
        </div>
        <div class="body-text">
        <h3>Is there a lawsuit?</h3>
          <p>
          No. There is no lawsuit that students can join at this time. When students enrolled in Corinthian they signed an arbitration clause, effectively signing away their right to sue in a court of law.
          </p>
          <p>
          Don’t get us wrong. Corinthian is facing plenty of legal trouble. If the government agencies win any of their suits against the school, you may get some debt relief. But nothing is certain.
          </p>
          <p>
          The Debt Collective is working with lawyers on a legal strategy called “Defense to Repayment”. <a href="/corinthiandtr">Fill out the form here</a>.</p>

          <p>As we move forward, we can develop other ways to fight back as well. <a href="http://strategize.debtcollective.org"> Participate in the community forum</a> to meet others in your situation.
          </p>
        </div>


          <div class="body-text caption sub">
             <a class="sm-button" href="http://www.facebook.com/share.php?u=http://debtcollective.org/corinthiansignup&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
              <img src="/static/img/fb.gif">
            </a>
            <a class="sm-button" href="http://twitter.com/intent/tweet?text=Join%20the%20Corinthian%20Collective%20to%20fight%20back%20against%20Corinthian%20and%20the%20Department%20of%20Education%20debtcollective.org%2Fcorinthiansignup%20%23debtstrike" target="_blank">
              <img src="/static/img/twitter.gif">
            </a>
          </div>
      </div>
    </div>
</div>

{% endblock %}