{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}
<div scroll ng-controller="solidarityStrikeCtrl" ng-cloak>
  <div class="container"  ng-click="closeStriker($event)">
      <div class="wrapper light">
        <div class="top-graphic centered">
          <img src="/static/img/strikers/Natasha_SolidarityStrike.jpg" style="width: 100%;" />
        </div>
      </div>
    <div class="wrapper arrow-down-steep">
      <div class="row arrow-top-heading body-text centered">
        <h1>Our Pledge of Solidarity with the Corinthian Student Debt Strikers.</h1>
      </div>

      <div class="row">
        <div class="body-text">
          <p>
          <strong>We are prepared to stop paying our federal student loans in support of Corinthian students.</strong> We did not all attend a Corinthian college. We are current and former students from other schools, public and private, for-proft and non-proft; we are young and old; some of us grew up in low-income families, while others had more privileges and opportunities; we are from everywhere. </p>
          <p>We are outraged that, like the Corinthian students, we have been forced to mortgage our futures and the futures of our families for education, and that we have had to do so in a country where a tiny minority controls the vast majority of the wealth.</p>

          <p>Most of us already find our degrees worthless, our jobs non-existent, our prospects bleak, our debts unpayable, and our bank accounts drained by the Department of Education’s brutal collection tactics. But even those of us who don’t yet face these circumstances have chosen to stand now in solidarity with the <a class="big-link" href="/studentstrike">Corinthian strikers.</a></p>
          <p>To the Department of Education, we say: Cancel all Corinthian students’ federal loans. Doing so will demonstrate your commitment to your job as a regulator.</p>
          <hr>
        </div>
      </div>
      <div class="body-text centered">
          <p>Help spread the word, lend your voice over <fb-button >facebook</fb-button> and <a href="http://twitter.com/intent/tweet?text=Support%20the%20organizing%20efforts%20of%20debtors%20challenging%20how%20we%20finance%20and%20access%20basic%20necessities%20debtcollective.org%20%23debtstrike" class="big-link" target="_blank">twitter</a>!</p>
        <a  class="sm-button" href="http://www.facebook.com/share.php?u=http://debtcollective.org&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
          <img src="/static/img/fb.gif">
        </a>
        <a class="sm-button"  href="When%20will%20%40usedgov%20respond%20to%20Corinthian%20students\'%20Defense%20to%20Repayment%20claim%3F%20We%20demand%20debt%20cancellation!%20%23highered%20%23edchat%20%23debt" target="_blank">
          <img src="/static/img/twitter.gif">
        </a>
      </div>
    </div>
    <div class="wrapper dark" ng-show="!doneLoading" style="min-height: 800px;">
      <h2>Loading names of strikers...</h2>
    </div>
    <div ng-class="{'visible': doneLoading}"  class="wrapper dark" style="display: none;"  ng-swipe-left="nextChunk()" ng-swipe-right="lastChunk()">
      <h2>We know that a victory for the Corinthian strikers will bring us closer to ending student debt and making higher education free and accessible to all.</h2>
      <div class="slider">
        <div class="row">
          <div ng-repeat="striker in solidarityStrikers[currentChunk]">
            {% include 'corinthian/memorialStudent.html' %}
          </div>
        </div>
        <div class="row">
          <div ng-repeat="striker in solidarityStrikers[currentChunk + 1]">
            {% include 'corinthian/memorialStudent.html' %}
          </div>
        </div>
        <div class="row">
          <div ng-repeat="striker in solidarityStrikers[currentChunk + 2]">
            {% include 'corinthian/memorialStudent.html' %}
          </div>
        </div>
    </div>
    <div class="row centered">
      <div class="col-md-2">
        <button class="btn btn-transparent hidden-mobile" ng-click="lastChunk()"><p> < BACK </p> </button>
      </div>
      <div class="col-md-8">
        <h2 class="big">#{$ currentChunk + 1 + (currentChunk * 3)  $}-{$  currentChunk + 1 +(currentChunk * 3) + 12 $} of {$ num $}</h2>
        <h1>Solidarity Student Debt Strikers</h1>
      </div>
      <div class="col-md-2">
        <button ng-click="nextChunk()" class="btn btn-transparent hidden-mobile"><p> NEXT > </p></button>
      </div>
    </div>
    </div>

    <div id="donate"></div>
    <div class="wrapper arrow-up"></div>
    <div class="wrapper arrow-down-steep">
        {% include "proj/donateBox.html" with title="DONATE" %}
    </div>

  </div>
</div>
{% endblock %}
