{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
<div class="wrapper light">
 <form action="https://docs.google.com/forms/d/1hSUX05lrF6g28pdqBkiJnd3AyBmoZwunhBTZQ3W2eQA/formResponse"
          method="POST" id="ss-form" target="_self" onsubmit="">
  <div class="row">
  <div class="col-md-1 col-xs-1 col-lg-1">
    <div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="checkBox" required />
      <label for="squaredOne"></label>
    </div>
  </div>
  <div class="col-md-11 col-xs-11 col-lg-11">
    <p>Can’t Pay, Won’t Pay: in solidarity with the Corinthian Student Debt Strikers. I am prepared to strike, I confrm that I understand the <a class="big-link" href="#terms">laws and concequences of loan non-payment.</a></p>
  </div>
  </div>

    <input type="text" id="entry.1335457259" name="entry.1335457259"
      placeholder="Full Name"
      required autocomplete="off" />

    <input type="text" id="school" name="entry.338339004" value=""  id="entry_338339004"
      placeholder="The Title of the University you Attended"
      required autocomplete="off" />

    <button type="submit" class="btn btn-primary">Sign & Join the Solidarity Strike!</button>
</form>
</div>
{% endblock %}