{% extends "proj/base_template.html" %}
{% load humanize %}

{% block body %}
{% include "proj/header.html" %}
<div scroll ng-controller="corinthianCtrl" >
  <div class="hud-display-background"  ng-click="closeStriker($event)" ng-class="{visible: currentStriker != null}"></div>

  <section id="corinthian">
    <div class="container">

      <div class="wrapper light">
        <div class="top-graphic centered">
          <img class="hidden-mobile" src="/static/img/strikers/striker_headerimage.gif" />
          <img class="mobile-only" src="/static/img/strikers/striker_top-graphic-small.png" />
        </div>
      </div>
      <!-- profiles and statement -->
      <div class="wrapper arrow-down-steep">
        <div class="loading" ng-show="loading">Loading..</div>
        <div class="row light" ng-cloak>
        <div class='body-text centered'>
        <div class='spacer'></div>
            <h5>Students of Corinthian Colleges have declared a debt strike by refusing to pay their federal loans. <strong>Click on a striker to read their story.</strong></h5>
            </div>
        </div>
        <div class="row">
          <div class="body-text main caption centered">
            <div class="inter-text">
              <h2>
                To the Department of Education, <br class="hidden-mobile">to the loan servicers,
              </h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in corinthian15Chunks[0]">
                  {% include "corinthian/strikers.html" %}
              </div>
            </div>
            <div class="inter-text">
              <h2>To the genesis lending company,<br class="hidden-mobile">
              To corinthian and ECMC,</h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in corinthian15Chunks[1]">
                  {% include "corinthian/strikers.html" %}
              </div>
            </div>
            <div class="inter-text">
              <h2>We have one thing to say</h2>
            </div>
            <div class="row">
              <div ng-repeat="striker in corinthian15Chunks[2]">
                  {% include "corinthian/strikers.html" %}
              </div>
            </div>
            <div class="inter-text big-bottom">
              <h2 class="big-link">WE OWE YOU NOTHING</h2>
            </div>
          </div>
          <div class="body-text caption sub">
          <p>Help spread the word, lend your voice over <fb-button class="big-link">facebook</fb-button> and <a href="http://twitter.com/intent/tweet?text=Support%20the%20organizing%20efforts%20of%20debtors%20challenging%20how%20we%20finance%20and%20access%20basic%20necessities%20debtcollective.org%20%23debtstrike" class="big-link" target="_blank">twitter</a>!</p>
        <a href="http://www.facebook.com/share.php?u=http://debtcollective.org&appId=1483700951894498" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
          <img class="sm-button" src="/static/img/fb.gif">
        </a>
        <a href="http://twitter.com/intent/tweet?text=The%20Rolling%20Jubilee%20has%20erased%20%2413%20million%20of%20student%20debt%20while%20%23Corinthian%20students%20have%20declared%20a%20debt%20strike%20debtcollective.org" target="_blank">
          <img class="sm-button" src="/static/img/twitter.gif">
        </a>
      </div>
        </div>
      </div>
      <div class="wrapper dark">
        <h2>DO YOU HAVE DEBT FROM EVEREST COLLEGE?</h2>
        <div class="body-text">
          <h2>You can be involved in actions to fight to get your money back.
          On March 31st, members of the <a href="/studentstrike" class='big-link'>Corinthian strike team</a> will submit Defense to Repayment letters to the Department of Education in Washington DC asking them to cancel the debt of all Corinthian students. Please fill out the form by that date if you want the strike team to deliver your letter in person. The  team will ask the Department to respond to the claims within 30 days.
          <form action="/corinthiandtr" class="dc-input">
            <button type="submit" class="btn btn-primary"> Fill out the form</button>
          </form>
        </div>
      </div>
      <div class="spacer"></div>

      <div id="letter" class="wrapper arrow-down-steep">
      <div class="row light">
      <div class="tabs">
        <div class="single-tab" ng-class="{'active': !corinthianLetterVisible}"
          ng-click="showCorinthianLetter()">
            CORINTHIAN 15</div>
        <div class="single-tab" ng-class="{'active': corinthianLetterVisible}"
          ng-click="showSolidarityLetter()">C15 SUPPORTERS</div>
      </div>

      <div id="corinthianLetter" ng-show="corinthianLetterVisible">
        {% include "corinthian/corinthian15Letter.html" %}
      </div>

      <div id="solidarityLetter" ng-show="!corinthianLetterVisible">
        {% include "corinthian/solidarityLetter.html" %}
      </div>
 <div class="tabs">
        <div class="single-tab" ng-class="{'active': !corinthianLetterVisible}"
          ng-click="showCorinthianLetter()">STUDENTS</div>
        <div class="single-tab" ng-class="{'active': corinthianLetterVisible}"
          ng-click="showSolidarityLetter()">SUPPORTERS</div>
      </div>
      <div class="paper-bottom-form" id="likethestrike">
        <div class="dc-input">
          <div class="body-text" ng-show="corinthianLetterVisible">
            <h2 class="dark">Corinthian student?</h2>
            <form action="/corinthiansignup" method="GET">
              <input type="text" placeholder="your name here" />
              <button type="submit" class="btn btn-primary">sign on</button>
            </form>
          </div>

          <signupform ng-show="!corinthianLetterVisible"></signupform>
        </div>
      </div>
      </div>
       <div class="body-text caption sub">
          <p>Help spread the word, lend your voice over <fb-button class="big-link">facebook</fb-button> and <a href="http://twitter.com/intent/tweet?text=Support%20the%20organizing%20efforts%20of%20debtors%20challenging%20how%20we%20finance%20and%20access%20basic%20necessities%20debtcollective.org%20%23debtstrike" class="big-link" target="_blank">twitter</a>!</p>
        <fb-button>
          <img class="sm-button" src="/static/img/fb.gif">
        </fb-button>
        <a href="http://twitter.com/intent/tweet?text=TO%20THE%20DEPARTMENT%20OF%20ED%2C%20TO%20THE%20GENESIS%20LENDING%20COMPANY%2C%20WE%20HAVE%20ONE%20THING%20TO%20SAY%3A%20WE%20OWE%20YOU%20NOTHING%20debtcollective.org%2Fstudentstrike%20%23debtstrike" target="_blank">
          <img class="sm-button" src="/static/img/twitter.gif">
        </a>
      </div>
    </div>

      <div class="wrapper dark">
        <h2>NOT A CORINTHIAN STUDENT BUT WANT TO BE INVOLVED?</h2>
        <div class="body-text">
          <h2> You can <a href="#donate">donate</a>, <a href="/#signup">sign up for email updates</a> and join strategy conversations in our <a  href="http://strategize.debtcollective.org"> community forums</a></h2></h2>
        </div>
      </div>

      <div id="donate"></div>
      {% include "proj/donateBox.html" with title="DONATE" %}

<!--
    <div class="wrapper arrow-up"></div>
    <div class="wrapper light arrow-down-steep">
      <div class="row light">
      <h2><a class='big-link' ng-click="showCorinthians = true">MORE CORINTHIANS</a></h2>
        <div ng-class="{ '' : !showCorinthians }">
          <div ng-repeat="striker in strikeTeam | filter: striker.hasImage" >
            <div class="item striker-row col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-click="showStriker(striker, $event)">
              <div class="img">
                <img ng-src="{$ striker.image $}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- hud display -->
    <div ng-class="{visible: currentStriker != null}"
      class="hud-display body-text light">
      <div class="info">
        <div class="img">
          <img ng-click="closeStriker($event)"
             ng-src="{$ currentStriker.bigImage $}" />
        </div>
        <h3 class="centered">{$ currentStriker.name $}</h3>
        <p>{$ currentStriker.bio $}</p>
      </div>
    </div>
    </div>

  </section>
</div>
{% endblock %}
