%input {
  @include transition();
  @extend %mono;
  margin: 8px;
  width: 100%;
  border: 0;
  text-decoration: none;

  &:focus {
    outline: 0px;
    outline-offset: 0px;
  }
}


%button {
  @extend %input;
  cursor: pointer;
  text-align: center;
  margin-top: 4px;

  &:hover {

  }

}

%button-lg {
    @extend %button;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em 3em;
    border-width: 0.2em;
}


.close-button {
  float: right;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.action-button {
  padding: 20px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  &.hover {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}

.btn {
  @extend %button;
  min-width: 150px;
  background-color: $dark-mauve;

  &.btn-red {
    background-color: $dark-red;
  }
  &.btn-primary {
    height: 70px;
    color: $text;
    background-color: $dark-red;
  }
}

input[type="text"], input[type="email"] {
  @extend %input;
}

.sm-button {
  padding-bottom: 50px;
}

.share-buttons {
  float: right;
  div {
    padding: 10px;
  }
}