%input {
  @include transition();
  @extend %rale;
  @include round-corners(0px);
  margin: 8px 0px;
  width: 100%;
  border: 0;
  text-decoration: none;

  &:focus {
    outline: 0px;
    outline-offset: 0px;
  }
}


%button {
  @extend %input;
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
}

%button-lg {
    @extend %button;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em 3em;
    border-width: 0.2em;
}


.close-button {
  float: right;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.action-button {
  padding: 20px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  &.hover {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}

.sm-button {
  width: 45px;
  padding: 5px;
  vertical-align: initial;
  text-decoration: none !important;
  &:hover {
    background-color: darken($light-background-color, 5%);
  }
}

.donate-buttons {
  @include flexbox;
  @include justify-content(space-around);
  margin-bottom: 15px;
  .donate-button {
    padding: 15px 15px 0px 15px;
  }
}
.sm-buttons {
  @include flexbox;
  @include flex-direction(column);
}

.sm-buttons-left {
  float: left;
  @extend .sm-buttons;
  padding-right: 10px;
}
.sm-buttons-right {
  @extend .sm-buttons;
  float: right;
}

.btn {
  @extend %button;
  min-width: 150px;
  background-color: $dark-mauve;
  color: $light-text-color;
  margin: 8px 0px;

  &.red {
    background-color: $dark-red;
    color: $dark-text-color;
  }

  &.small {
    width: 50%;
  }

  &.tiny {
    width: 70px;
    min-width: 0px;
    height: 44px;
  }

  &:hover {
    background-color: $dark-red;
    color: white;
  }

  &.btn-primary {
    @extend .btn.red;
    height: 70px;
  }
}


.sm-boxes {
  @include flexbox;
  @include justify-content(space-around);
  margin: 50px 0px;
}

.button-box {
  margin: 15px;
  background: transparent;
  width: 100%;

  .box-text {
    @extend %mono;
    color: $dark-text-color;
    width: 100%;
    letter-spacing: 0px;
    padding: 15px;
    margin-bottom: 0px;
  }

  &:hover {
    cursor: pointer;
  }
}


/* SQUARED THREE */
.checkbox {
  position: relative;
}

.checkbox input[type=checkbox]{
  display: none;
}

.checkbox label {
  padding-left: 0px;
}

.checkbox .help-text {
  padding-left: 35px;
  opacity: .8;
  z-index: -5;
  @include transition();
  &:hover {
    opacity: 1;
  }
}
.checkbox .checkLabel {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  z-index: 5;
  border: 1px solid $dark-red;
  background-color: $olive;
}

.checkbox .checkLabel:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 13px;
  height: 8px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 3px solid #fcfff4;
  background-color: transparent;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox .checkLabel:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + .help-text {
  opacity: 1;
}

.checkbox input[type=checkbox]:checked + .checkLabel:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
