@import "variables";

@mixin transition($prop: all, $duration: .25s, $ease: ease-in-out) {
    -webkit-transition: $prop $duration $ease;
    -moz-transition: $prop $duration $ease;
    -ms-transition: $prop $duration $ease;
    -o-transition: $prop $duration $ease;
    transition: $prop $duration $ease;
}

@mixin frame-transition(){
  @include transition(all, .75s, ease);
}

@mixin bottom-nav-colors() {
  background-color: rgba(17,13,33,.7);
}

$default_rounded_amount: 5;

@mixin round-corners($amount: $default_rounded_amount) {
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

%sans {
    // font-family: "camingodos-web", sans-serif;
    font-family: "calluna-sans", sans-serif;
    font-weight: 600;
}

%captionmono {
    font-family: "Cutive mono", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

%mono {
    font-family: "Cutive mono", serif;
    font-weight: 600;
}

%rale {
    font-family: "Raleway", sans-serif;
}

%serif {
    font-family: "rooney-web", sans-serif;
    font-weight: 400;
}

%calluna {
    font-family: "calluna", serif;
    font-weight: 600;
}
