@media (min-width: 2500px) {
  .wrapper {
    max-width: 56.5%;
  }
  .body-text {
    max-width: 39.4%;
  }
}
@media (min-width: 1130px) and (max-width: 2500px) {
  .wrapper {
    max-width: 93.75%;
  }

  .body-text {
    max-width: 64%;
  }
}

@media (min-width: 768px) and (max-width: 1130px) {
  .wrapper {
    max-width: 100%;
  }

  .body-text {
    max-width: 65.75%;
  }
}

@media only screen and (max-device-width: 768px) {
  .body-text {
    width: 473px;
    max-width: 100%;
  }

  .social-media {
    opacity: 0 !important;
  }
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 600px) {

  .half {
    width: 100% !important;
  }

  .mobile-only {
    display: visible;
  }
  .banner {
    .text {
      height: 100%;
    }
  }

  .map-container {
    img {
      left: 50% !important;
      transform: translateX(-50%);
    }
    .compassrose {
      top: -250px;
    }
    .map-banner {
      top: 50px;
    }
  }

  .body-text.map-body {
    margin-top: 29px !important;
  }

  .wrapper {
    max-width: 100%;
  }
  .hidden-mobile {
    display: none;
  }
  .header-links {
    height: initial;
  }
  .body-text {
    padding: 0px 6px;
    width: 100%;
  }
  .social-media {
    opacity: 0 !important;
  }
}

