.mobile-only {
  display: none;
}

.desktop-only {
  display: none;
}

.striker-row.col-lg-2,
.striker-row.col-sm-2,
.striker-row.col-md-2 {
  width: 19.666667%;
}

@media (min-width: 2500px) {
  .wrapper {
    max-width: 56.5%;
  }
  .body-text {
    max-width: 39.4%;
  }
  .desktop-only {
    display: block !important;
  }
}
@media (min-width: 1130px) and (max-width: 2500px) {
  .wrapper {
    max-width: 93.75%;
  }

  .body-text {
    max-width: 72%;
  }
  .carousel {
    max-width: 75%;
    margin: auto;
  }
  .desktop-only {
    display: block !important;
  }
}

// laptop and tablet landscape
@media (min-width: 768px) and (max-width: 1130px) {
  .wrapper {
    max-width: 100%;
  }

  .content-overlay-box {
    height: 75%;
  }

  .body-text {
    max-width: 65.75%;
  }

}

@media only screen and (max-width: 768px) {
  .body-text {
    width: 473px;
    max-width: 100%;
  }
  .arrow-top-heading {
    margin-top: -45px;
  }

  .social-media {
    opacity: 0 !important;
  }
  .arrow-down-steep .row {
    background-color: $light-background-color;
  }
}
//phones
@media only screen and (max-width: 600px) {
  .container {
    padding: 0px;
  }
  .dc-input {
    margin: 5px;
  }
  .paper {
    margin: 0px;
  }
  .body-text.wide {
    max-width: 100%;
    min-width: 100%;
  }
  .debt-type-select {
    width: 100%;
  }
  .arrow-top-heading {
    margin-top: -45px;
  }
  .top-quote {
    padding: 1em;
  }
  .arrow-down-steep .row {
    background-color: $light-background-color;
  }
  .press-links img {
    width: initial;
  }
  .thankyou-background {
    background-size: 100%;
  }
  .profiles {
    .item {
      display: block;
      .img {
        text-align: center;
      }
      .info {
        width: 100%;
      }
    }
  }
  .manifesto {
    width: 100%;
  }
  .flex {
    display: block;
  }
  .manifesto-buttons {
    width: 100%;
    max-width: initial;
  }

  #corinthian .intro p {
    margin: 44px 0px;
  }
  .hearing {
    div {
      margin-bottom: 20px;
    }

    .tweet-buttons {
      float: right;
    }

    .timeline {
      float: left;
      margin-bottom: 100px;
    }
  }
  .btn.tiny {
    padding: 15px 5px;
    width: 100%;
  }
  .button, button {
    margin: 0px;
  }

  .splash-square {
    width: 200px;
    height: 200px;
  }

  ul {
    padding-left: 0px !important;
  }

  h1 {
    font-size: 23px;
  }

  .nav-footer.visible:not(.focused) {
    top: 0px;
  }

  .close-button.visible:not(.focused) {
    display: none !important;
  }

  .banner .text {
    height: 100%;
  }
  .header-links {
    height: initial;
  }
  .slide {
    padding: 3px;
  }
  .images .pane {
    top: 65%;
  }
  .wrapper {
    max-width: 100%;
  }
  .body-text:not(.wide) {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
  }
  .map-container {
    .compassrose {
      width: 141px;
      height: initial;
    }
    .map-banner {
      bottom: 25px;
    }
  }
  .body-text.map-body {
    margin-top: 29px !important;
  }
  .half {
    width: 100% !important;
  }
  .quote {
    line-height: initial;
    padding: 2px;
  }

  .hidden-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

