$dark-grey:     #313539;
$dark-mid-grey: lighten($dark-grey, 20%);
$mid-grey:      lighten($dark-grey, 40%);
$off-grey:      #39413f;
$weird-yellow: rgb(224,224,213);
$menu-color:   #39413f;
$light-yellow: #feffe8;
$mauve: #d3d1c9;
$olive: rgba(2,2,2,.8);
$olive-yellow: #ccaa2d;
$weird-mauve: #f1eee2;
$dark-mauve: #C4C2B2;

$link-color: #fefefe; //#CEC7C9;
$link-hover: #f7f7ed;
$link-light: #b6bea7;
$link-light-hover: rgba(134,143,148, .8);

$dark-blue:    #1a1b23;
$linkblue:      #3d72a6;

$map-background-color: $dark-mauve;
$dark-background-color: $off-grey;
$dark-text-color: $weird-mauve;
$light-background-color: $weird-mauve;
$light-text-color: $off-grey;


$dark-muted-text: #5d6961;
$dark-red:    #861800;
$pink-red:         #eb1020;
$light-red:   lighten($pink-red, 5%);
$fb-blue:     #3d72a6;
$weird-orange: #ff6600;
$intro-text: rgb(172,185,183);

$header-height: 32px;

$footer-height: 70px;
$footer-open-height: 227px;

$text:      $link-light;
$rule:      desaturate(lighten($mid-grey, 20%), 30%);

$z-index-footer: 100;
$z-index-hud-display: 102;
$z-index-hud-display-background: 101;
$z-index-arrow-down-steep: 0;